// Elements
* {
  color: $default-text-color;
  font-family: "Raleway", sans-serif;
  font-size: $base-font-size;
  line-height: 1.35;
}

a, p, li, span {
  font-size: 14pt;
}

body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

main {
  max-width: $max-grid-width;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1300px) {
  main {
    max-width: 1140px;
  }
}

footer {
  margin-top: $default-margin;
}

h1 {
  font-size: $base-font-size + 18 !important;
}

h2 {
  color: $primary-header-color;
  font-size: $base-font-size + 12 !important;
  font-weight: 400 !important;
  margin-top: -20px !important;
}

h3 {
  font-size: $base-font-size + 6 !important;
}

h4 {
  color: $dark-color;
  font-size: $base-font-size + 2;
}

h5 {
  font-size: $base-font-size + 1;
}

header {
  img {
    width: 100%;
  }
}

ion-navbar ion-title {
  margin-left: -$default-margin;
}

p {
  color: $default-text-color;
  text-align: justify;
}

a,
.link-span {
  color: $bright-accent-color !important;
  font-weight: 600 !important;
  opacity: 1;
  text-decoration: none;
}

// Classes
.centered {
  text-align: center;
}

.disclaimer {
  font-size: smaller;
  font-style: italic;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.grid-container {
  display: grid;
}

.list-unstyled {
  list-style: none;
  margin-left: -$default-margin;
}

.link-span {
  color: $bright-accent-color !important;
  font-weight: 600 !important;
  opacity: 1;
  cursor: pointer;
}

.link-span:hover {
  color: lighten($bright-accent-color, 15%) !important;
}

.blurb {
  display: block;
  font-style: italic;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: darken($tertiary-color, 20%);
}

.not-visible {
  visibility: hidden;
}

.note {
  font-style: italic;
  margin-top: -$xsmall-margin;
  color: darken($tertiary-color, 85%);
}

.pdf {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 45px;
  text-decoration: none;
  color: $secondary-color;
  background-image: url("../assets/imgs/misc/pdf.png");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 5px;
  min-height: 40px;
}

@media (min-width: 640px) {
  .pdf {
    min-height: 30px;
    background-position-y: 0px;
  }
}

.pointer {
  cursor: pointer;
}

.testimonial {
  font-style: italic;
}

.title {
  font-style: italic;
}

.uppercase {
  font-variant: small-caps;
}

.video-li {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  background-image: url("../assets/imgs/misc/play-button.png");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 10px;
  background-size: 35px 25px;
  padding-left: 45px;
  height: 50px;
  color: $secondary-color;
  margin-bottom: $default-margin;
}

@media (min-width: 640px) {
  .video-li {
    height: 50px;
    background-position-y: 0px;
    margin-bottom: 0px;
  }
}

.video-caption {
  color: $lighter-accent-color;
  font-size: $base-font-size;
  text-shadow: $text-shadow;
}

.video-thumb {
  // border: $default-border-size solid $primary-color;
  // border-radius: $default-border-radius;
  // box-shadow: $video-shadow;
  cursor: pointer;
}
