<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-wrench fixed-width space-right"></i>
      <span>Admin - Targeted Subject Categories</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedInAsAdmin">
  <admin-login></admin-login>
</ion-content>
<ion-content *ngIf="this.auth.loggedInAsAdmin">
  <main role="main">
    <nav-main selectedSection="Admin" selectedMenuItem="Admin - Targeted Subject Categories"></nav-main>
    <article>
      <h1>Admin</h1>
      <h2>Targeted Subject Categories</h2>
      <div id="loadingDiv" *ngIf="!this.loaded">
        <img src="assets/imgs/misc/loading.gif" />
      </div>
      <div id="smallScreens">
        <section id="contentSection" *ngIf="this.loaded">
          <div class="item-container" *ngFor="let item of items; let i=index">
            <div class="input-grid">
              <label for="order-{{i}}">Order:</label>
              <input class="order-input" id="order-{{i}}" name="order-{{i}}" required [value]="item.order" (input)="item.order = $event.target.value"
              />
            </div>
            <div class="input-grid">
              <label for="order-{{i}}">Category:</label>
              <input class="category-input" id="category-{{i}}" name="category-{{i}}" required [value]="item.category" (input)="item.category = $event.target.value"
              />
            </div>
            <div class="buttons-div">
              <button ion-button outline *ngIf="!item.deleting" type="submit" (click)="updateData(item.id, item.order, item.category)">Save</button>
              <button class="delete-btn" *ngIf="!item.deleting" ion-button outline type="submit" (click)="confirmDelete(i)">Delete</button>
              <button class="yes-btn" *ngIf="item.deleting" ion-button outline type="submit" (click)="deleteData(item.id, item.category)">Confirm</button>
              <button class="no-btn" *ngIf="item.deleting" ion-button outline type="submit" (click)="cancelDelete(i)">Cancel</button>
            </div>
          </div>
          <div class="item-container">
            <div class="input-grid">
              <label for="order-input">Order:</label>
              <input class="order-input" id="order-new" name="order-new" required [value]="newOrder" (input)="newOrder = $event.target.value"
              />
            </div>
            <div class="input-grid">
              <label for="category-input">Category:</label>
              <input class="category-input" id="category-new" name="category-new" required [value]="newCategory" (input)="newCategory = $event.target.value"
              />
            </div>
            <div class="buttons-div">
              <button ion-button outline type="submit" (click)="addData(newOrder, newCategory)">Save</button>
            </div>
          </div>
        </section>
      </div>
      <div id="largeScreens">
        <section id="contentSection" *ngIf="this.loaded">
          <div id="columnHeaders" class="form-grid">
            <h3 class="order-heading">Order</h3>
            <h3 class="category-heading">Category</h3>
          </div>
          <div class="item-container" *ngFor="let item of items; let i=index">
            <div class="form-grid">
              <input class="order-input" id="order-{{i}}" name="order-{{i}}" required [value]="item.order" (input)="item.order = $event.target.value"
              />
              <input class="category-input" id="category-{{i}}" name="category-{{i}}" required [value]="item.category" (input)="item.category = $event.target.value"
              />
              <button ion-button outline *ngIf="!item.deleting" type="submit" (click)="updateData(item.id, item.order, item.category)">Save</button>
              <button class="delete-btn" *ngIf="!item.deleting" ion-button outline type="submit" (click)="confirmDelete(i)">Delete</button>
              <button class="yes-btn" *ngIf="item.deleting" ion-button outline type="submit" (click)="deleteData(item.id, item.category)">Confirm</button>
              <button class="no-btn" *ngIf="item.deleting" ion-button outline type="submit" (click)="cancelDelete(i)">Cancel</button>
            </div>
          </div>
          <div class="form-grid">
            <input class="order-input" id="order-new" name="order-new" required [value]="newOrder" (input)="newOrder = $event.target.value"
            />
            <input class="category-input" id="category-new" name="category-new" required [value]="newCategory" (input)="newCategory = $event.target.value"
            />
            <button ion-button outline type="submit" (click)="addData(newOrder, newCategory)">Save</button>
            <button ion-button outline type="submit" class="not-visible">Delete</button>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
