<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-gears fixed-width space-right"></i>
      <span>Admin - Targeted Subject Categories</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <main role="main">
    <nav-admin></nav-admin>
    <article>
      <h1>Admin</h1>
      <h2>Targeted Subject Categories</h2>
      <div id="loadingDiv" *ngIf="!this.loaded">
        <img src="assets/imgs/misc/loading.gif" />
      </div>
      <section id="contentSection" *ngIf="this.loaded">
        <div id="columnHeaders" class="form-grid">
          <h3 class="order-heading">Order</h3>
          <h3 class="category-heading">Category</h3>
        </div>
        <div class="category-container" *ngFor="let item of items; let i=index">
          <div class="form-grid">
            <input class="order-input" id="order-{{i}}" name="order-{{i}}" required [value]="item.order" (input)="item.order = $event.target.value"
            />
            <input class="category-input" id="category-{{i}}" name="item-{{i}}" required [value]="item.category" (input)="item.category = $event.target.value"
            />
            <button ion-button outline type="submit" (click)="updateData(item.id, item.order, item.category)">Save</button>
            <button ion-button outline type="submit" (click)="deleteData(item.id, item.category)">Delete</button>
          </div> 
        </div>
        <div class="form-grid">
          <input class="order-input" id="order-new" name="order-new" required [value]="newOrder" (input)="newOrder = $event.target.value" />
          <input class="category-input" id="category-new" name="item-new" required [value]="newCategory" (input)="newCategory = $event.target.value" />
          <button ion-button outline type="submit" (click)="addData(newOrder, newCategory)">Save</button>
          <button ion-button outline type="submit" class="not-visible">Delete</button>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
