<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Started - Step 3</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-started></nav-get-started>
    <article>
      <div>
        <h1>GET Started - Step Three</h1>
        <h2>Who Do You Want to Help?</h2>
        <p>
          You feel amazing and know a lot of people who would benefit from using the Isagenix system. Here are some
          simple ways to
          reach out and ask them to take a look.
        </p>
      </div>
      <div id="container">
        <section id="section1">
          <h3>1. Connect</h3>
          <ul>
            <li>Send GetFree.global link: <a href="//getfree.global" target="_blank">Business</a> or <a href="//getfree.global/why-cleanse"
                target="_blank">Product</a>
              <ul>
                <li>Be sure to provide the password: GETFIT</li>
              </ul>
            </li>
            <li>Call a Few Friends - <span class="link-span">Power Quotes</span></li>
            <li>Text a Few Friends - <span class="link-span" (click)="openPage('TextYourFewPage')">Sample Text</span></li>
            <li>Initial Facebook Post - <span class="link-span" (click)="openPage('PostOnFacebookPage')">Simple Steps</span></li>
          </ul>
          <h3>2. Validate</h3>
          <ul>
            <li>Add to <a href="//www.facebook.com/groups/1929979043937515/" target="_blank">GETFree</a> and/or <a href="//www.facebook.com/groups/960960177302669"
                target="_blank">GETFit</a> Facebook Support Pages</li>
            <li>Follow-up Support Scripts: <span class="link-span" (click)="openPage('GetThemStartedOpportunityPage')">Opportunity</span>
              or <span class="link-span" (click)="openPage('GetThemStartedPage')">Product</span></li>
            <li>Overcoming Objections <span class="link-span" (click)="openVideoModal()">Video</span></li>
          </ul>
        </section>
        <section id="divider"></section>
        <section id="section2">
          <h3>3. Enroll</h3>
          <ul>
            <li>"Your next step is... to <a href="//getfree.global/getting-started-packs-usa" target="_blank">Try the
                Products</a>"</li>
            <li>"Let me show you how to <span class="link-span" (click)="openPage('GetThemStartedRightPage')">Open a
                Wholesale Account...</span>"</li>
          </ul>
          <h3 id="dupe">4. Duplicate</h3>
          <ul>
            <li>Teach them the system. Lead them to <span class="link-span" (click)="openHomePage()">globalexecteam.com</span>.</li>
          </ul>
        </section>
      </div>
      <section>
        <a href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/images%2Ffunnel_1144.png?alt=media&token=eedf3436-fea2-47d7-920f-181a25070d48"
          target="_blank">
          <img id="funnelThumb" sizes="(max-width: 1144px) 100vw, 1144px" srcset="
            assets/imgs/funnel/funnel_400.png 400w,
            assets/imgs/funnel/funnel_691.png 691w,
            assets/imgs/funnel/funnel_917.png 917w,
            assets/imgs/funnel/funnel_1144.png 1144w"
            src="assets/imgs/funnel/funnel_1144.png" alt="The Funnel Effect">
        </a>
        <div id="note">
          <span class="note">(Click the image above to view it full-screen.)</span>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
