<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>Step 3</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Started" selectedMenuItem="GET Started GET Free"></nav-main>
    <nav>
      <span id="goBack" class="back-link link-span" (click)="goBack()">&lt; Step 2</span>
    </nav>
    <article>
      <h1>Step 3</h1>
      <h2>Eat for Free</h2>
      <div id="container">
        <section id="linkSection">
          <h3>Join the IsaBody Challenge</h3>
          <ul>
            <li><img class="diamond" src="assets/imgs/misc/blue-diamond.png" alt="" />
              <a target="_blank" href="https://www.isagenix.com/isabody-challenge">$200 in Free Product</a>
            </li>
          </ul>
          <h3>Become a Consultant</h3>
          <ul>
            <li><img class="diamond" src="assets/imgs/misc/blue-diamond.png" alt="" />
              <span class="link-span" (click)="pdfProvider.openPdf('Become an Associate', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fsteps-to-become-an-associate.pdf?alt=media&token=56b476ba-74cf-4628-8100-3cabc62201ab')">Become
                an Associate</span>
            </li>
            <li><img class="diamond" src="assets/imgs/misc/blue-diamond.png" alt="" />
              <span class="link-span" (click)="pdfProvider.openPdf('Enroll 5 People', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fdouble-pib.pdf?alt=media&token=dd09aed8-add1-47dd-93a3-ef36b44f80ea')">
                Enroll Two People</span>
            </li>
          </ul>
          <h3>Earn Free Vitamins</h3>
          <ul>
            <li><img class="diamond" src="assets/imgs/misc/blue-diamond.png" alt="" />
              <span class="link-span" (click)="pdfProvider.openPdf('Enroll 5 People', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fteam-builders-club.pdf?alt=media&token=ed27abc8-c0d4-482b-b31c-0f37ddacfa37')">Enroll
                5 People</span>
            </li>
          </ul>
        </section>
        <section id="divider"></section>
        <section id="videoSection">
          <img (click)="openVideoModal()" class="video-thumb" src="assets/imgs/misc/you-share-they-share-repeat.jpg"
            alt="You Share, They Share, Repeat Video">
          <div id="consultantDiv">
            <img class="diamond" src="assets/imgs/misc/blue-diamond.png" alt="" />
            <span class="link-span" (click)="pdfProvider.openPdf('Become a Consultant', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fbecome-a-consultant.pdf?alt=media&token=b1d22281-d6c5-4e3a-bae2-935617c1e8eb')">Become
              a Consultant</span>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
