<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>Step 3</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1600px) 100vw, 1600px" srcset="
      assets/imgs/get-started-step-3/get-started-step-3_400.jpg 400w,
      assets/imgs/get-started-step-3/get-started-step-3_916.jpg 916w,
      assets/imgs/get-started-step-3/get-started-step-3_1285.jpg 1285w,
      assets/imgs/get-started-step-3/get-started-step-3_1600.jpg 1600w" src="assets/imgs/get-started-step-3/get-started-step-3_1600.jpg"
      alt="Global Exec Team">
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Get Started - Step 3: Who Do You Want to Help?</h1>
      <p class="centered blurb">You feel amazing and know a lot of people who would benefit from using the Isagenix system. Here are some simple ways
        to reach out and ask them to take a look.</p>
      <div class="grid-container">
        <section>
          <h3>1. Text a Few Friends</h3>
          <p>We all have those friends who will jump in the fun with us. This text template was designed to ask them to join
            you in a fun way.</p>
          <p>
            Click here for the
            <span class="link-span" (click)="openPage('TextYourFewPage')">simple template</span> that takes all the guesswork out of what to say from the first text to them saying “YES!”
          </p>
        </section>
        <section>
          <h3>2. Post on Facebook</h3>
          <p>
            You never know which of your friends is looking for the results you have achieved (or are looking to achieve)!
          </p>
          <p>
            First adjust your Facebook Settings to make sure your post will be visible by following
            <span class="link-span"
              (click)="openPage('BeforeYouPostPage')">these simple steps.</span>
          </p>
          <p>
            Then copy and paste
            <span class="link-span" (click)="openPage('PostOnFacebookPage')">THIS SIMPLE POST</span> and follow the template when friends start commenting.
          </p>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
