page-step-3 {
  #container {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  section div {
    margin-bottom: 50px;
  }
  #divider {
    display: none;
  }
  p {
    text-align: left;
  }
  .subtext {
    font-size: smaller;
    color: #777;
  }
  h4 {
    font-weight: bold;
  }
  .action {
    color: #4F81BD;
    font-size: larger;
    font-weight: bold;
  }
  #blurb {
    span {
      color: #777;
      font-style: italic;
    }
  }
  @media(min-width: 1000px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 4px 1fr;
      align-content: flex-start;
      align-items: flex-start;
      margin-top: -26px;
      margin-bottom: 3px;

      #divider {
        display: block;
        height: 100%;
        width: 4px;
        background-color: #4F81BD;
      }

      #blurb {
        align-self: flex-end;
        margin-bottom: 13px;
      }

      #headers, #section1 {
        margin-right: 20px;
      }

      #section2, #blurb {
        margin-left: 20px;
      }
    }
  }
}
