page-step-3 {
  #container {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: -27px;
  }
  p {
    text-align: left;
  }
  .subtext {
    font-size: smaller;
    color: #777;
  }
  #blurb {
    span {
      color: #777;
      font-style: italic;
    }
  }
  @media(min-width: 1000px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: flex-start;
      align-items: flex-start;
      margin-top: -26px;
      margin-bottom: 3px;

      #blurb {
        align-self: flex-end;
        margin-bottom: 13px;
      }

      #headers, #section1 {
        margin-right: 20px;
      }

      #section2, #blurb {
        margin-left: 20px;
      }
    }
  }
}
