page-step-3 {
  #container {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  section div {
    margin-bottom: 50px;
  }
  #divider {
    display: none;
  }

  h3 {
    color: #4F81BD;
    font-weight: bold;
  }

  li {
    margin-bottom: 10px;
  }

  #funnelThumb {
    cursor: pointer;
  }

  @media(min-width: 1000px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 4px 1fr;
      align-content: flex-start;
      align-items: flex-start;
      margin-top: -26px;
      margin-bottom: 3px;

      #divider {
        display: block;
        height: 100%;
        width: 4px;
        background-color: #4F81BD;
      }

      #headers, #section1 {
        margin-right: 20px;
      }

      #section2, #blurb {
        margin-left: 20px;
      }
    }
  }
}
