<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-bullhorn fixed-width space-right"></i>
      <span>GET Success - Welcome</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-success></nav-get-success>
    <article>
      <h1>GET Success</h1>
      <h2>Welcome</h2>
      <section>
        <img sizes="(max-width: 1600px) 100vw, 1600px" srcset="
            assets/imgs/get-party/get-party_400.jpg 400w,
            assets/imgs/get-party/get-party_569.jpg 569w,
            assets/imgs/get-party/get-party_712.jpg 712w,
            assets/imgs/get-party/get-party_960.jpg 960w" src="assets/imgs/get-party/get-party_960.jpg" alt="Find Your Tribe. Love Them Hard.">
      </section>
      <section id="videoSection">
        <img id="welcomeVideo" src="assets/imgs/why-isagenix/why-isagenix.jpg" (click)="openVideoModal()" alt="Why Isagenix" class="video-thumb" />
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
