<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-bullhorn fixed-width space-right"></i>
      <span>GET Success - Welcome</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-success></nav-get-success>
    <article>
      <h1 class="centered uppercase">GET Success - Welcome</h1>
        <section>
            <img sizes="(max-width: 1600px) 100vw, 1600px" srcset="
            assets/imgs/tribe/tribe_400.png 400w,
            assets/imgs/tribe/tribe_635.png 635w,
            assets/imgs/tribe/tribe_832.png 832w,
            assets/imgs/tribe/tribe_960.png 960w" src="assets/imgs/tribe/tribe_960.png"
            alt="Find Your Tribe. Love Them Hard.">
        </section>
        <section id="videoSection">
            <img id="welcomeVideo" src="assets/imgs/why-isagenix/why-isagenix_1015.jpg" (click)="openVideoModal()"
            sizes="(max-width: 700px) 100vw" alt="Why Isagenix" class="video-thumb" srcset="
              assets/imgs/why-isagenix/why-isagenix_400.jpg 400w,
              assets/imgs/why-isagenix/why-isagenix_742.jpg 742w,
              assets/imgs/why-isagenix/why-isagenix_1015.jpg 1015w" />
        </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
