<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-facebook fixed-width space-right"></i>
      <span>Post on Facebook</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Success" selectedMenuItem="GET Success GET Focused"></nav-main>
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered">Post on Facebook</h1>
      <section id="topSection">
        <p>
          The intention of this post is to assist you in making an impact in the health of your social network, while
          earning yourself
          a fast return on your investment. It’s highly recommended that you follow both the post template and follow
          up
          template verbatim, in order to maximize your results. Both have been proven to literally create millions of
          dollars
          in revenue for Isagenix.
        </p>
        <p>
          <span class="highlight">Pro Tips:</span>
        </p>
        <p>
          1. Posts with photos receive more engagement on social media. Use your enrolling sponsor’s before/after photo
          in your post.
        </p>
        <p>
          2. When To Post: Sunday through Thursday between 7:30pm-8:30pm (in your local time zone)
        </p>
      </section>
      <section>
        <h3>If You Haven't Started Yet</h3>
        <p>
          After watching my friend (tag enrolling sponsor) release / experience / have _____________, _____________ and
          _____________
          thanks to an amazing Superfood system, I decided it was time for me to experience similar results, because I
          am
          tired of feeling _____________, ______________ and _____________.
        </p>
        <p>
          I’m so excited to get started. My system hasn’t even arrived yet and I’d love to have some of my
          good friends join me on this journey so we can hold each other accountable. Who’s up for looking and feeling
          their best?
        </p>
      </section>
      <section>
        <h3>If You've Already Started</h3>
        <p>
          After watching my friend (tag enrolling sponsor) release / experience / have _____________, _____________ and
          _____________ thanks to an amazing health and wellness system, I decided it was time for me to experience
          similar results,
          because I was tired of feeling _____________, ______________ and _____________.
        </p>
        <p>
          I’ve only been using the system for ______ days and I’m already _______________, _____________ and
          __________.
        </p>
        <p>
          I’d love to have some of my good friends join me on this journey so we can hold each other accountable. Who’s
          up for looking and feeling their best?
        </p>
      </section>
      <section>
        <h3>Progress Post
          <em>(highly recommend including transformation pics if you have them)</em>
        </h3>
        <p>Before I found this system, I was feeling ____________, ______________ and _________ and I’d had enough.
          After watching
          tons of my friends get results, I finally decided to get started on an amazing health and wellness system and
          I can’t
          believe what’s happened already!
        </p>
        <p>
          I’ve only been using the system for ______ days/weeks and I’ve already experienced ___________, __________
          and ___________!!
          I’ve tried so many things before this and I’m incredibly grateful to my friend (tag enrolling sponsor) for
          introducing
          me to this. It’s super simple to follow and everything tastes amazing! Finally, a solution that works for
          me!!!</p>
      </section>
      <section>
        <h3>Once Friends Start Commenting, Here's What to Say Through Direct Message Using This Template</h3>
        <p>
          <strong>*** Once your friends start commenting, reply to them saying you will send them a direct message with
            the information, then use the template below. Remember that for every comment, there are likely 5-10 other
            friends just reading the comments and not saying anything. By direct messaging them the details, they have
            to connect with you to find more information instead of just reading your conversation with someone else.
            ***</strong>
        </p>
        <p>
          <strong>YOU:</strong> Hey [name]! I’m glad you commented, one of the things that excites me most about
          starting this system
          is doing it with ______ [friends/family/people I know/co-workers, etc]. This may or may not be for you, but
          if
          it is, what would you love to see happen?
        </p>
        <p>
          [THEY GIVE THEIR RESPONSE: (i.e. lose weight, have more energy, etc).]
        </p>
        <p>
          <strong>YOU:</strong> Awesome, a big reason I was inspired to get started, is because this system can help
          people in different ways. I’ve seen so many incredible transformations. I know some of my biggest challenges
          with (your goal) were ______, _________, ______ [enter in your personal challenges i.e.’no time to eat
          healthy, didn’t know where to start, too busy with the kids, working long hours, etc].
        </p>
        <p>
          What have been some of your biggest challenges with [enter their goal— losing weight, sleeping better, etc]?
        </p>
        <p>
          [THEY RESPOND]
        </p>
        <p>
          <strong>YOU:</strong> I can understand that. I’d love for you to watch a video that I watched in the
          beginning to get started. If I send you the link, when would you be able to watch it?
        </p>
        <p>
          <strong>THEM:</strong> That sounds great! I can watch it at 8 AM tomorrow.
        </p>
        <p>
          <strong>YOU:</strong> Ok, awesome. Here is the link <a href="https://getfree.global/why-cleanse">https://getfree.global/why-cleanse</a>.
          I’ll give you a
          call around 8:15 am for your feedback after you’ve explored the site a little.
        </p>
        <p><strong>THEM:</strong> Great! Can’t wait!</p>
        <p>
          *** To create a link to your personal Isagenix website, log in to your Back Office (where you order
          products),
          and hover over the “Resources” tab. Click “Manage My Website” to create your website URL. Then copy and paste
          that URL. Add “/IsaMovie” after “.com”. This will hyperlink to your personal Isagenix website, so if your
          prospect decides to purchase a pak right away, the sale will go to you! Please note that you must be an
          Associate to have a personal Isagenix website.
        </p>
        <p>
          <strong>AND THAT’S IT! YOU CAN CONTINUE THE CONVERSATION AFTER THEY WATCH THE VIDEO USING THE GET THEM
            STARTED
            TEMPLATE</strong>
        </p>
      </section>
      <section>
        <h3>More Pro Tips</h3>
        <p><strong>How to Respond if They Say/Ask:</strong></p>
        <p><em>"How much is it?"</em></p>
        <p><strong>YOU:</strong> It really depends, everything is customized and you’re just re-allocating grocery
          money, so it’ll fit within whatever you’re currently spending on food.</p>
        <p><em>"What's the name of the system?"</em></p>
        <p><strong>YOU:</strong> It’s called Isagenix. (and then get right back where you left off in the template)!</p>
        <p><em>"How does it work?"</em></p>
        <p><strong>YOU:</strong> It’s so simple, I’ll send you a few things to look at (and then get right back to the
          template)!</p>
      </section>
      <section>
        <span class="link-span" (click)="pdfProvider.openPdf('Post on Facebook','https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fpost-on-facebook.pdf?alt=media&token=5be745fd-4fb7-4c52-9dd5-eee23809d58c')">Download
          This Script as a PDF</span>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
