page-daily-calls {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  audio {
    width: 100%;
  }

  h4 {
    font-size: 12pt;
    margin-top: 35px;
  }

  section {
    margin-bottom: 50px;
  }

  @media (min-width: 800px) {
    .grid-container {
      grid-template-columns: auto auto;

      section {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}
