<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-book fixed-width space-right"></i>
      <span>Books</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Elevated" selectedMenuItem="Books"></nav-main>
    <article>
      <h1 class="centered">Books</h1>
      <!-- <h5 class="centered note tap">(Tap an image to view details.)</h5>
      <h5 class="centered note click">(Click an image to view details.)</h5> -->
      <div class="grid-container">
        <section>
          <h2>Go Pro</h2>
          <h3>Eric Worre</h3>
          <div class="inner-grid">
            <div>
              <img src="assets/imgs/books/go-pro.jpg" alt="Go Pro" class="book" />
            </div>
            <div>
              <p>Over twenty years ago at a company convention, Eric Worre had an "A-ha!" moment that changed his life forever.
                At that event he made the decision to <em>Go Pro</em> and become a Network Marketing expert. Since that time, he has
                focused on developing the skills to do just that. In doing so, Eric has touched and been touched by hundreds
                of thousands of people around the world. Now he shares his wisdom in a guide that will ignite your passion
                for this profession and help you make the decision to <em>Go Pro</em> and create the life of your dreams. In this
                definitive guidebook, you will learn to:
              </p>
              <ul>
                <li>Find prospects</li>
                <li>Invite them to your product or opportunity</li>
                <li>Present your product</li>
                <li>Follow up with your prospects</li>
                <li>Help them become customers or distributors</li>
                <li>Help them get started right</li>
                <li>Grow your team by promoting events</li>
                <li>And much, much more.</li>
              </ul>
              <p> Eric's wish is for you to make the decision to become a Network Marketing Professional. For you to truly <em>Go
                Pro</em>. Because it is a stone-cold fact that Network Marketing is a better way. Now let's go tell the world.</p>
            </div>
          </div>
        </section>
        <section>
          <h2>Think and Grow Rich</h2>
          <h3>Napoleon Hill</h3>
          <div class="inner-grid">
            <div>
              <img src="assets/imgs/books/think-and-grow-rich.jpg" alt="Think and Grow Rich" class="book" />
            </div>
            <div>
              <p>
                <em>Think and Grow Rich</em> has been called the "Granddaddy of All Motivational Literature." It was the first book to boldly ask,
                "What makes a winner?" The man who asked and listened for the answer, Napoleon Hill, is now counted in the
                top ranks of the world's winners himself. The most famous of all teachers of success spent "a fortune and
                the better part of a lifetime of effort" to produce the "Law of Success" philosophy that forms the basis
                of his books and that is so powerfully summarized in this one.
              </p>
              <p>
                In the original <em>Think and Grow Rich</em>, published in 1937, Hill draws on stories of Andrew Carnegie, Thomas Edison, Henry Ford,
                and other millionaires of his generation to illustrate his principles. In the updated version, Arthur R.
                Pell, Ph.D., a nationally known author, lecturer, and consultant in human resources management and an expert
                in applying Hill's thought, deftly interweaves anecdotes of how contemporary millionaires and billionaires,
                such as Bill Gates, Mary Kay Ash, Dave Thomas, and Sir John Templeton, achieved their wealth. Outmoded or
                arcane terminology and examples are faithfully refreshed to preclude any stumbling blocks to a new generation
                of readers.
              </p>
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
