page-books {
  h3 {
    margin-top: 40px;
    color: $secondary-color;
    font-weight: bold;
  }

  .book-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    span {
      font-size: 11pt;
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  .book-container span i {
    color: #FF6600 !important;
  }

  .title {
    font-weight: bold;
  }

  .title, .author {
    display: inline-block;
    font-style: normal;
    margin-right: -10px !important;
    font-size: large !important;
  }
}
