page-books {
  header img {
    max-height: 700px;
  }

  h2 {
    padding-top: 40px;
  }

  .tap {
    display: block;
    margin-bottom: 50px;
    margin-top: -20px;
  }

  .click {
    display: none;
    margin-bottom: 50px;
    margin-top: -20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;

    h2, h3, h4 {
      text-align: center;
    }

    img {
      display: block;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  section {
    margin-bottom: 50px;
  }

  @media (min-width: 800px) {
    .grid-container {
      grid-template-columns: auto;

      section {
        margin-left: 20px;
        margin-right: 20px;

        img {
          margin-top: 20px;
        }
      }
    }

    .inner-grid {
      display: grid;
      grid-template-columns: auto auto;

      div {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .tap {
      display: none;
      margin-bottom: 50px;
      margin-top: -20px;
    }

    .click {
      display: block;
      margin-bottom: $small-margin;
      margin-bottom: 50px;
      margin-top: -20px;
    }
  }
}
