<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-book fixed-width space-right"></i>
      <span>Books</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Elevated" selectedMenuItem="Books"></nav-main>
    <article>
      <h1 class="centered">Books</h1>
      <p>
        These are TOP tools we use to heighten AWARENESS and to help bring CLARITY to those new to the industry and
        entrepreneurship. We highly recommend downloading the audio books so you can multitask as you go about your
        day.
      </p>
      <p>
        Join <a href="//www.facebook.com/groups/150661212374645/" target="_blank">GET Elevated</a>, our Team Book Club
        on Facebook.
      </p>
      <h3 class="centered">Network Marketing</h3>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">Go Pro</span>
          <span class="author">by Eric Worre</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The Business of the 21st Century</span>
          <span class="author">by Robert Kiyosaki</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The 45-Second Presentation That Will Change Your Life</span>
          <span class="author">by Don Fialla</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">You<sup>2</sup> Quantum Leap Strategy</span>
          <span class="author">by Dr. Price Pritchett</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The Four Year Career</span>
          <span class="author">by Richard Brooke</span>
        </div>
      </div>
      <h3 class="centered">Entrepreneurship</h3>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">Think and Grow Rich</span>
          <span class="author">by Napoleon Hill</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">Start with WHY</span>
          <span class="author">by Simon Sinek</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The 7 Habits of highly Effective People</span>
          <span class="author">by Stephen Covey</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The ONE Thing</span>
          <span class="author">by Gary Keller</span>
        </div>
      </div>
      <h3 class="centered">Personal Growth</h3>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The GO Giver</span>
          <span class="author">by Bob Burg</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The Secret of the Millionaire Mind</span>
          <span class="author">by T. Harv Ecker</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">10x</span>
          <span class="author">by Grant Cardone</span>
        </div>
      </div>
      <h3 class="centered">The Business of Health</h3>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The Wellness Revolution</span>
          <span class="author">by Paul Zane Pilsner</span>
        </div>
      </div>
      <div class="book-container">
        <span class="icon"><i class="fa fa-book"></i></span>
        <div>
          <span class="title">The Unhealthy Truth</span>
          <span class="author">by Robyn O’Brien</span>
        </div>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
