<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Targeted Subject Calls</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
      <site-nav></site-nav>
      <article>
          <h1 class="centered uppercase">Targeted Subject Calls</h1>
          <h3 class="centered">Health</h3>
          <div class="grid-container">
            <section>
              <h4>A Life Solution Physically and/or Financially with Susan Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03122018050145812_1192988.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Science &amp; Cleansing - Why Everyone NEEDS it with Jenna Mayer &amp; Emily Munson</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05222018050135971_1161660.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>We have the Gift of Hope with Melissa Henault &amp; Tammy Fry</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_11162017050055147_1166128.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
          </div>

          <h3 class="centered">Understanding the Industry</h3>
          <div class="grid-container">
            <section>
              <h4>Health Coach vs Network Marketer Defined by Susan &amp; Murray Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_02162018050139236_1151375.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>The Power within a Network of People with Susan Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03162018050235450_1150348.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Attracting Men &amp; Professionals to Network Marketing</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_09282017050154277_1183535.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Understanding the Network Marketing Financial Model with Chelsea Miller &amp; Murray Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_04062018050036879_1185779.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>What Our Industry Is &amp; Where Do You Want to Be with Chelsea Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07202018050103844_1193374.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
          </div>

          <h3 class="centered">Connecting</h3>
          <div class="grid-container">
            <section>
              <h4>The Breakdown to Successful Connecting with Susan Miller &amp; Laura Thompson</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_04182018050129392_1155811.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Connecting to your Direction with Chelsea Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_01312018050037816_1180036.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Social Media Connecting with Chelsea Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07182018050118115_1189265.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Connecting with Product, Posture &amp; PowerLines with Chelsea Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_01302018050049410_1177575.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Connecting with Yourself to Connect with Others with Andrea Labouchere</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_12202017050036109_1158380.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Connecting &amp; Building a Business Through LinkedIn with Melissa Henault</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_02232018050117145_1163772.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>The Different Levels of Connecting with Carol Elizabeth</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07042018050242557_1168035.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
          </div>

          <h3 class="centered">Performance &amp; Athletes</h3>
          <div class="grid-container">
            <section>
              <h4>Isagenix &amp; The Fitness Professional with Erin Brauer &amp; Jennifer Towkaniuk</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_12122017050012355_1159968.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>ISAGENIX Is the PERFECT Fuel for Athletes with Adrienne Donovan &amp; Nancy Baxter</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_08222017050126901_1195488.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
          </div>

          <h3 class="centered">Compensation</h3>
          <div class="grid-container">
            <section>
              <h4>The Power of Our Compensation Plan with Susan Miller &amp; Herb Cepeda</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_10062017050224664_1196149.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Defining the Types of Income &amp; WHY Isagenix Got It Right with Susan Miller, Michael Guthrie &amp; Jenn Barry</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03232018050052589_1162572.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>The Power &amp; Purpose of Our Compensation Plan with Jessica Johnston &amp; Erin Brauer</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_04132018050212448_1197980.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Align Your Financial Mindset with Your Vision with Andrea Labouchere</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03092018050023773_1189637.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Commitment &amp; Compensation Call with Carol Elizabeth &amp; Tavia Rogerson</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_02092018050019352_1198210.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
          </div>

          <h3 class="centered">Personal Development</h3>
          <div class="grid-container">
            <section>
              <h4>Be the LEADER You Would FOLLOW with Jessica Johnston &amp; Rod Hairston</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05242018050413437_1165659.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>SOLIDIFY Your Identity with Chelsea Miller</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_02012018050107435_1182352.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>A Journey to Punch Fear in the Face with Andrea Labouchere &amp; Alisa Paulus</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03082018050034376_1187399.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Overcoming Personal Hurdles &amp; Finding that SHIFT! with  Adrienne Donovan, Nancy Baxter &amp; Patty MacNaught </h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03012018050017962_1174303.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Building a STRONG YOU with Adrienne Donovan &amp; Carrie Ann Bowman</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_08242017050018876_1199775.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Recipe to Your Identity with Jessica Johnston</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_09042017050158512_1166384.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>The Woman with a Process with Melissa Henault</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05182018050212655_1156057.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Accidental vs. Intentional Leadership with Carol Elizabeth</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07052018050133884_1168828.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Transparency &amp; Realness of the Journey with Carol Elizabeth</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_11092017050050448_1152296.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
            <section>
              <h4>Rewrite Your Story with Carol Elizabeth, Tavia Rogerson &amp; Mandy Andre</h4>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03292018050039321_1172453.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </section>
          </div>
        </article>
  </main>
  <get-footer></get-footer>
</ion-content>
