<nav id="mainNav">
  <div id="logoContainer">
    <img id="getLogoPageTitle" src="assets/imgs/misc/get-lg.png" alt="Global Exec Team" (click)="openPage('HomePage')" />
  </div>
  <div id="menuItems">
    <div (click)="openPage('Step_1Page')">Step One</div>
    <div (click)="openPage('Step_2Page')">Step Two</div>
    <div (click)="openPage('Step_3Page')">Step Three</div>
    <div (click)="openPage('Step_4Page')">Step Four</div>
    <div (click)="openPage('Step_5Page')">Step Five</div>
  </div>
</nav>
