<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Success - Step 2</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <site-nav></site-nav>
    <article>
      <h1 class="centered uppercase">GET Success - Step 2</h1>
      <div id="outerGrid" class="grid-container">
        <section id="firstSection">
          <h3 class="centered">Share Isagenix</h3>
          <h4 class="centered highlight">Learn HOW TO use TOOLS to comfortably share the Isagenix solutions with ease.</h4>
          <ul>
            <li>
              <h4 class="centered">How to Effectively Use Social Media</h4>
            </li>
            <li>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03122018050145812_1192988.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </li>
            <li>Your First Social Media
              <a>Power Post</a>
            </li>
            <li>Recommended
              <a>Power Lines and Verbiage</a>
            </li>
            <li>
              <h4 id="tools" class="centered">How to Use TOOLS to Communicate</h4>
            </li>
            <li>
              <audio controls>
                <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_03122018050145812_1192988.mp3">
                <p>Your device does not support native audio.</p>
              </audio>
            </li>
            <li>How to Use
              <a target="_blank" href="//getfree.global">GETFree.Global</a>
            </li>
            <li>How to Use
              <a>3-Way Calling</a>
            </li>
            <li>How to Use
              <a>3-Way Messaging</a>
            </li>
            <li>How to Use
              <a>IsaTools</a>
            </li>
          </ul>
        </section>
        <section id="secondSection">
          <h4 class="centered">Know Your Audience
            <span>by Melissa Henault</span>
          </h4>
          <img id="knowYourAudienceVideo" src="assets/imgs/why-isagenix/why-isagenix_1280.jpg" (click)="openVideoModal()" sizes="(max-width: 1280px) 100vw"
            alt="Why Isagenix" class="video-thumb" srcset="
                            assets/imgs/why-isagenix/why-isagenix_400.jpg 400w,
                            assets/imgs/why-isagenix/why-isagenix_1045.jpg 1045w,
                            assets/imgs/why-isagenix/why-isagenix_1280.jpg 1280w" />
          <img id="img" alt="Live, Love, and Laugh Out Loud" sizes="(max-width: 452px) 100vw" src="assets/imgs/out-loud/out-loud_328.png"
            srcset="assets/imgs/out-loud/out-loud_200.png 200w,
                    assets/imgs/out-loud/out-loud_251.png 251w,
                    assets/imgs/out-loud/out-loud_297.png 297w,
                    assets/imgs/out-loud/out-loud_328.png 328w">
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
