<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-pencil fixed-width space-right"></i>
      <span>Order Form</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Success" selectedMenuItem="GET Success GET Focused"></nav-main>
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered">Order Form</h1>
      <section>
        <p>
          <em>Note: Manually write down your new Associate’s information before entering it into the system.</em>
        </p>
        <p>
          <strong>FULL NAME:</strong>
        </p>
        <p>
          <strong>BILLING/SHIPPING ADDRESS:</strong>
        </p>
        <p>
          <strong>EMAIL:</strong>
        </p>
        <p>
          <strong>TEL#:</strong>
        </p>
        <p>
          <strong>VISA/MC/AMEX/DISC:</strong> _____________________________ <strong>EXP:</strong> _________ <strong>CVV:</strong>
          _________
        </p>
        <p>
          <strong>PACK TO ORDER:</strong>
        </p>
        <p>
          <strong>SHAKE FLAVORS:</strong> <em>CHOOSE 4 BELOW</em>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CANISTERS/PACKETS
        </p>
        <p>
          __CHOCOLATE&nbsp;&nbsp;&nbsp;__VANILLA&nbsp;&nbsp;&nbsp;__STRAWBERRY&nbsp;&nbsp;&nbsp;__CHOC
          MINT&nbsp;&nbsp;&nbsp;__PEACH MANGO
        </p>
        <p>
          __DAIRY FREE CHOCOLATE&nbsp;&nbsp;&nbsp;__DAIRY FREE VANILLA CHAI
        </p>
        <p>
          <strong>SNACKS:</strong> __CHOCOLATE&nbsp;&nbsp;&nbsp;__VANILLA&nbsp;&nbsp;&nbsp;__DAIRY FREE BERRY
        </p>
        <p>
          <strong>IONIX:</strong> CANISTER / BOTTLE
        </p>
        <p>
          <strong>CLEANSE:</strong> POWDER / LIQUID
        </p>
        <p>
          <strong>BARS:</strong> <em>CHOOSE ONE BELOW</em>
        </p>
        <p>
          __CHOCOLATE DECADENCE &nbsp;&nbsp;&nbsp;__CHOCOLATE PEANUT BUTTER &nbsp;&nbsp;&nbsp;__LEMON
          PASSION
        </p>
        <p>
          __CHOCOLATE CREAM CRISP &nbsp;&nbsp;&nbsp;__S’MORES &nbsp;&nbsp;&nbsp;__CARAMEL CASHEW
        </p>
        <p>
          __DF BERRY BLISS &nbsp;&nbsp;&nbsp;__DF CHOC PEANUT BUTTER &nbsp;&nbsp;&nbsp;__DF CHOC
          COCONUT ALMOND
        </p>
        <p>
          <strong>ISA DELIGHTS:</strong> <em>CHOOSE ONE BELOW</em>
        </p>
        <p>
          __MILK CHOC&nbsp;&nbsp;&nbsp;__DARK CHOC&nbsp;&nbsp;&nbsp;__DARK CHOC MINT&nbsp;&nbsp;&nbsp;MILK SEA SALT
          CARAMEL
        </p>
        <p>
          <strong>WHEY THINS:</strong> <em>CHOOSE ONE BELOW</em>
        </p>
        <p>
          __BARBEQUE&nbsp;&nbsp;&nbsp;__SOUR CREAM &amp; CHIVE&nbsp;&nbsp;&nbsp;__WHITE CHEDDAR&nbsp;&nbsp;&nbsp;__DF THAI CHILI
        </p>
      </section>
      <section>
        <span class="link-span" (click)="pdfProvider.openPdf('Order Form','https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Forder-form.pdf?alt=media&token=25a8a4d1-1d16-4519-b6e1-42fb3a647f1c')">Download
          This Order Form as a PDF</span>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
