<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-check-circle fixed-width space-right"></i>
      <span>Get Success Recap</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
      <img alt="Leaving Legacies" sizes="(max-width: 1400px) 100vw" src="assets/imgs/susan-quote/susan-quote-1400.jpg" srcset="assets/imgs/susan-quote/susan-quote-400.jpg 400w,
      assets/imgs/susan-quote/susan-quote-849.jpg 849w,
      assets/imgs/susan-quote/susan-quote-1177.jpg 1177w,
      assets/imgs/susan-quote/susan-quote-1400.jpg 1400w">
  </header>

  <main role="main">
    <article>
      <h1 class="centered uppercase">Get Success - Recap</h1>
      <div class="grid-container">
          <section id="videoSection">
              <img id="recapVideo" src="assets/imgs/why-isagenix/why-isagenix_1280.jpg" (click)="openVideoModal()"
              sizes="(max-width: 700px) 100vw" alt="Why Isagenix" class="video-thumb" srcset="
                assets/imgs/why-isagenix/why-isagenix_400.jpg 400w,
                assets/imgs/why-isagenix/why-isagenix_1045.jpg 1045w,
                assets/imgs/why-isagenix/why-isagenix_1280.jpg 1280w" />
          </section>
          <section id="imageSection">
              <img sizes="(max-width: 1144px) 100vw, 1144px" srcset="
              assets/imgs/funnel/funnel_400.png 400w,
              assets/imgs/funnel/funnel_691.png 691w,
              assets/imgs/funnel/funnel_917.png 917w,
              assets/imgs/funnel/funnel_1144.png 1144w" src="assets/imgs/funnel/funnel_1144.png"
              alt="The Funnel Effect">
          </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
