<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-video-camera fixed-width space-right"></i>
      <span>Videos</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-elevated></nav-get-elevated>
    <article>
      <h1 class="centered uppercase">Motivational Videos</h1>
      <div class="grid-container">
        <section>
          <h3>The Golden Circle</h3>
          <h4>Simon Sinek</h4>
          <img id="goldenCircle" src="assets/imgs/misc/simon-sinek-golden-circle.jpg" (click)="openVideoModal('golden-circle')"
          sizes="(max-width: 640px) 100vw" alt="Simon Sinek - The Golden Circle" class="video-thumb" />
        </section>
        <section>
          <h3>You've Gotta Be Hungry</h3>
          <h4>Les Brown</h4>
          <img id="hungry" src="assets/imgs/misc/les-brown.jpg" (click)="openVideoModal('hungry')"
          sizes="(max-width: 640px) 100vw" alt="Les Brown - You've Gotta Be Hungry" class="video-thumb" />
        </section>
        <section>
          <h3>Why Leaders Eat Last</h3>
          <h4>Simon Sinek</h4>
          <img id="eatLast" src="assets/imgs/misc/simon-sinek-leaders-eat-last.jpg" (click)="openVideoModal('eat-last')"
          sizes="(max-width: 640px) 100vw" alt="Simon Sinek - Why Leaders Eat Last" class="video-thumb" />
        </section>
        <section>
          <h3>Stanford Commencement Address</h3>
          <h4>Steve Jobs</h4>
          <img id="stanford" src="assets/imgs/misc/steve-jobs.jpg" (click)="openVideoModal('stanford')"
          sizes="(max-width: 640px) 100vw" alt="Steve Jobs - Stanford Commencement Address" class="video-thumb" />
        </section>
      </div>
      <h1 class="centered uppercase">Video Library</h1>
      <div class="grid-container">
        <section>
          <h3>Why Isagenix</h3>
          <img id="whyIsa" src="assets/imgs/why-isagenix/why-isagenix_1015.jpg" (click)="openVideoModal('why-isa')" sizes="(max-width: 1280px) 100vw"
            alt="Why Isagenix" class="video-thumb" srcset="
            assets/imgs/why-isagenix/why-isagenix_400.jpg 400w,
            assets/imgs/why-isagenix/why-isagenix_742.jpg 742w,
            assets/imgs/why-isagenix/why-isagenix_1015.jpg 1015w" />
        </section>
        <section>
          <h3>Transform Your Life</h3>
          <img src="assets/imgs/transform-your-life/transform-your-life_640.jpg" (click)="openVideoModal('transform-your-life')" sizes="(max-width: 640px) 100vw"
            alt="Transform Your Life" class="video-thumb" srcset="
    assets/imgs/transform-your-life/transform-your-life_200.jpg 200w,
    assets/imgs/transform-your-life/transform-your-life_640.jpg 640w" />
        </section>
        <section>
          <h3>Start Your Life</h3>
          <img src="assets/imgs/start-your-life/start-your-life_640.jpg" (click)="openVideoModal('start-your-life')" sizes="(max-width: 640px) 100vw"
            alt="Start Your Life" class="video-thumb" srcset="
      assets/imgs/start-your-life/start-your-life_200.jpg 200w,
      assets/imgs/start-your-life/start-your-life_492.jpg 492w,
      assets/imgs/start-your-life/start-your-life_640.jpg 640w" />
        </section>
        <section>
          <h3>The Isagenix Difference</h3>
          <img src="assets/imgs/the-isagenix-difference/the-isagenix-difference_640.jpg" (click)="openVideoModal('isa-difference')"
            sizes="(max-width: 640px) 100vw" alt="The Isagenix Difference" class="video-thumb" srcset="
    assets/imgs/the-isagenix-difference/the-isagenix-difference_200.jpg 200w,
    assets/imgs/the-isagenix-difference/the-isagenix-difference_440.jpg 440w,
    assets/imgs/the-isagenix-difference/the-isagenix-difference_640.jpg 640w" />
        </section>
        <section>
          <h3>How to Build with Facebook</h3>
          <img src="assets/imgs/build-with-facebook/build-with-facebook_555.jpg" (click)="openVideoModal('facebook')" sizes="(max-width: 640px) 100vw"
            alt="How to Build with Facebook" class="video-thumb" srcset="
        assets/imgs/build-with-facebook/build-with-facebook_200.jpg 200w,
        assets/imgs/build-with-facebook/build-with-facebook_468.jpg 468w,
        assets/imgs/build-with-facebook/build-with-facebook_555.jpg 555w" />
        </section>
        <section>
          <h3>How to Build with Instagram</h3>
          <img src="assets/imgs/build-with-instagram/build-with-instagram_555.jpg" (click)="openVideoModal('instagram')" sizes="(max-width: 640px) 100vw"
            alt="How to Build with Instagram" class="video-thumb" srcset="
        assets/imgs/build-with-instagram/build-with-instagram_200.jpg 200w,
        assets/imgs/build-with-instagram/build-with-instagram_555.jpg 555w" />
        </section>
        <section>
          <h3>Master the Compensation Plan</h3>
          <img src="assets/imgs/comp-plan/comp-plan_640.jpg" (click)="openVideoModal('comp-plan')" sizes="(max-width: 640px) 100vw"
            alt="Master the Compensation Plan" class="video-thumb" srcset="
        assets/imgs/comp-plan/comp-plan_200.jpg 200w,
        assets/imgs/comp-plan/comp-plan_400.jpg 400w,
        assets/imgs/comp-plan/comp-plan_555.jpg 555w,
        assets/imgs/comp-plan/comp-plan_640.jpg 640w" />
        </section>
        <section>
          <h3>Learn About Network Marketing</h3>
          <img src="assets/imgs/network-marketing/network-marketing_555.jpg" (click)="openVideoModal('network-marketing')" sizes="(max-width: 640px) 100vw"
            alt="Learn About Network Marketing" class="video-thumb" srcset="
        assets/imgs/network-marketing/network-marketing_200.jpg 200w,
        assets/imgs/network-marketing/network-marketing_555.jpg 555w" />
        </section>
        <section>
          <h3>Unpack Your Box</h3>
          <img src="assets/imgs/isa-box/isa-box_640.jpg" (click)="openVideoModal('isa-box')" sizes="(max-width: 640px) 100vw" alt="What's in Your Box?"
            class="video-thumb" srcset="
          assets/imgs/isa-box/isa-box_400.jpg 400w,
          assets/imgs/isa-box/isa-box_640.jpg 640w" />
        </section>
        <section>
          <h3>How to Do a Shake Day</h3>
          <img src="assets/imgs/shake-day/shake-day_640.jpg" (click)="openVideoModal('shake-day')" sizes="(max-width: 640px) 100vw"
            alt="What's in Your Box?" class="video-thumb" srcset="
          assets/imgs/shake-day/shake-day_400.jpg 400w,
          assets/imgs/shake-day/shake-day_640.jpg 640w" />
        </section>
        <section>
          <h3>How to Do a Cleanse Day</h3>
          <img src="assets/imgs/cleanse-day/cleanse-day_640.jpg" (click)="openVideoModal('cleanse-day')" sizes="(max-width: 640px) 100vw"
            alt="What's in Your Box?" class="video-thumb" srcset="
          assets/imgs/cleanse-day/cleanse-day_400.jpg 400w,
          assets/imgs/cleanse-day/cleanse-day_640.jpg 640w" />
        </section>
        <section>
          <h3>You Share, They Share, Repeat</h3>
          <img (click)="openVideoModal('you-share')" class="video-thumb" sizes="(max-width: 640px) 100vw, 640px" srcset="
          assets/imgs/you-share-they-share-repeat/you-share-they-share-repeat_200.jpg 200w,
          assets/imgs/you-share-they-share-repeat/you-share-they-share-repeat_800.jpg 800w" src="assets/imgs/you-share-they-share-repeat/you-share-they-share-repeat_800.jpg"
            alt="You Share, They Share, Repeat Video">
        </section>
        <section>
          <h3>Learn More About Launch Calls</h3>
          <img class="video-thumb" sizes="(max-width: 640px) 100vw, 640px" (click)="openVideoModal('launch-calls')" srcset="
          assets/imgs/launch-associate/launch-associate_200.jpg 200w,
          assets/imgs/launch-associate/launch-associate_465.jpg 465w,
          assets/imgs/launch-associate/launch-associate_566.jpg 566w" src="assets/imgs/launch-associate/launch-associate_566.jpg"
            alt="">
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
