<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Started - Step 2</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <site-nav></site-nav>
    <article>
      <h1 class="centered uppercase">GET Started - Step 2: CONNECT - With Your Team</h1>
      <p class="centered blurb">
        Building a successful Network requires a TEAM effort. Be Coachable and duplicate the proven virtual franchise Network Marketing
        model.
      </p>
      <div class="grid-container">
        <section>
          <h3>1. Facebook Support Pages</h3>
          <p><a target="_blank" href="https://www.facebook.com/groups/960960177302669">GETFIT</a> Prospecting Page <br /><span class="subtext">A place to share our solutions with prospects</span></p>
          <p><a target="_blank" href="https://www.facebook.com/groups/1929979043937515/">GETFREE</a> Business Network <br /><span class="subtext">A place to share business validation</span></p>
          <p><a target="_blank" href="https://www.facebook.com/groups/globalexecutiveteam/">Global Exec Team</a> Business Network <br /><span class="subtext">A place to connect, learn, and recognize business leaders</span></p>
          <p><span class="link-span">GET Leaders Individual Team Pages (sponsor)</span> <br /><span class="subtext">A place to connect with your immediate team</span></p>
        </section>
        <section>
          <div>
            <h3>2. GET Weekly Training Calls</h3>
            <p>
                Monday – Friday 8AM Eastern <br/>
                (857) 232-0159  code# 257064 <br />
                <span class="subtext">Recordings available on Globalexecteam.com</span>
            </p>
          </div>
          <div id="teamSites">
            <h3>3. GET Team Websites</h3>
            <p><a target="_blank" href="http://getfit.global">GETFit.global</a> - Product <span class="subtext">(Password: GETFREE)</span></p>
            <p><a target="_blank" href="http://getfree.global">GETFree.global</a> - Business <span class="subtext">Password: GETFIT)</span></p>
            <p><a target="_blank" href="#">GlobalExecTeam.com</a> - Training <span class="subtext">(Password: ONETEAM)</span></p>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
