page-step-2 {
  p {
    text-align: left;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  .subtext {
    font-size: smaller;
    color: #777;
  }

  @media(min-width: 800px) {
    .grid-container {
      grid-template-columns: auto auto;

      section {
        margin-left: 20px;
        margin-right: 20px;
      }

      #teamSites {
        margin-top: 30px;
      }
    }
  }
}
