page-get-success-get-free {
  h3 {
    color: $secondary-color;
    font-weight: bold;
    margin-top: 20px;
  }

  .note {
    font-size: 16px;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  #outerGrid {
    display: grid;
    grid-template-columns: auto;
  }

  #pibNote {
    text-align: left;
  }

  #videoImg, #videoImgKathy {
    cursor: pointer;
  }

  #note span {
    display: none;
  }

  #compPlan span {
    display: inline-block;
    margin-left: 20px;
  }

  #firstSection,
  #secondSection {
    display: grid;
    align-content: flex-start;
  }

  #tryProduct {
    margin-left: -12px;
  }

  #videoUrl {
    margin-left: -12px;
    font-size: small;

    a {
      font-size: small;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 0px;

    li {
      margin-left: -40px;
      margin-bottom: 10px;
    }
  }

  h5 {
    color: #4F81BD;
    font-weight: bold;
  }

  .action {
    color: #4F81BD;
    font-weight: bold;
  }

  .diamond {
    height: 15px;
    margin-right: 10px;
  }

  .highlight {
    color: $bright-accent-color;
  }

  #divider {
    display: none;
  }

  #img {
    display: block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #virtualFranchiseVideo {
    width: 100%;
  }

  #virtualFranchiseVideo,
  #img {
    max-width: 528px;
  }

  @media (min-width: 1024px) {
    .note {
      font-size: 16px;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      width: 100%;
    }

    #outerGrid {
      grid-template-columns: 1fr 4px 1fr;
    }

    #firstSection {
      margin-right: 40px;
    }

    #secondSection {
      margin-left: 40px;
    }

    #divider {
      display: inherit;
      width: 4px;
      background-color: #4F81BD;
    }

    #note span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      text-align: center;
    }
  }
}
