page-home {
  header img {
    max-height: 800px;
  }

  h1 {
    margin-top: 25px;
  }

  p {
    margin-bottom: 40px;
  }

  #mission {
    font-size: x-large;
    margin-top: -10px;
  }

  #missionHeader {
    margin-top: 40px;
  }

  #grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  #tribe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @media (min-width: 1024px) {
    #grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: stretch;

      #tribe {
        padding-right: 20px;
        margin-bottom: 0;
      }

      #video {
        padding-left: 20px;
      }
    }
  }
}
