page-home {
  header img {
    max-height: 800px;
  }

  #whyIsaSection {
    margin-left: auto;
    margin-right: auto;
    width: 90vw !important;
    max-width: 900px;
    margin-bottom: 100px;
  }

  #whyIsa {
    display: inline-block;
    width: 90vw !important;
    max-width: 900px;
  }
}
