<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Success - Step 4</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-success></nav-get-success>
    <article>
      <h1>GET Success</h1>
      <h2>Step Four</h2>
      <div id="outerGrid">
        <section id="firstSection">
          <h3>Master the Marketing Plan</h3>
          <h4 class="highlight">
            <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />Income Producing Activity</h4>
          <ul>
            <li>
              <h5>Get Your Product for Free</h5>
            </li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />Duplicate
              <span class="link-span" (click)="openVideoModal('eat-it-love-it-share-it')">Eat It, Love It, Share It</span>
            </li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />Enroll 2 a Week -
              <span class="link-span" (click)="pdfProvider.openPdf('Double PIBs', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fdouble-pib.pdf?alt=media&token=dd09aed8-add1-47dd-93a3-ef36b44f80ea')">Double PIB's</span>
            </li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />Join
              <a href="https://www.isagenix.com/isabody-challenge" target="_blank">IsaBody Challenge</a> - $200</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />Enroll 5 People -
              <span class="link-span" (click)="pdfProvider.openPdf('Free Vitamins', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Ffree-vitamins.pdf?alt=media&token=054db23d-a348-4be8-abc7-35fc883d42b8')">FREE Vitamins</span>
            </li>
            <li>
              <h5>Compensation Plan</h5>
            </li>
            <li id="compPlan"><span class="link-span" (click)="pdfProvider.openPdf('Compensation Plan', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fcompensation-plan.pdf?alt=media&token=76b26d3b-5f18-499b-b989-f802d19190e3')">Global Compensation Plan</span></li>
            <li>
              <h5>Road to Exec -
                <span class="link-span" (click)="pdfProvider.openPdf('Crystal Executive', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fcrystal-exec.pdf?alt=media&token=0f37b46d-2eac-4e05-9ed8-d7afa975002b')">$10,550 USD</span>
              </h5>
            </li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              Create Consultants - $2000 ($100 x 20)</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              Consultants (You + 2) $50</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              Manager (Them + 2) $250</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              Director (You + 4 More) $750</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              Executive (You + 4 More) $1000</li>
            <li>
              <h5>Monthly Pools</h5>
            </li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              <span class="link-span" (click)="pdfProvider.openPdf('Director Pools', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fdirector-pools.pdf?alt=media&token=ff18fed3-7c44-4005-8a10-2be37e06c963')">Director Pools</span> $2500</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              <span class="link-span" (click)="pdfProvider.openPdf('Executive Pool', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fexecutive-pool.pdf?alt=media&token=0f9bddff-782c-453b-8539-bb7f48942ce0')">One-Star Executive Pools</span> $5000</li>
            <li>
              <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />
              <span class="link-span" (click)="pdfProvider.openPdf('Two-Star Pool', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Ftwo-star-pool.pdf?alt=media&token=da8ae04f-45f9-47e0-8c30-f658521951dd')">Two-Star Executive Pools</span> and Above $125k</li>
          </ul>
        </section>
        <section id="divider"></section>
        <section id="secondSection">
          <img id="img" alt="GET Duplication System" sizes="(max-width: 874px) 100vw" src="assets/imgs/load-the-bases/load-the-bases_874.png"
            srcset="assets/imgs/load-the-bases/load-the-bases_400.png 400w,
                        assets/imgs/load-the-bases/load-the-bases_567.png 567w,
                        assets/imgs/load-the-bases/load-the-bases_686.png 686w,
                        assets/imgs/load-the-bases/load-the-bases_874.png 874w" />
          <img id="img" alt="Goal" sizes="(max-width: 651px) 100vw" src="assets/imgs/goal/goal_651.png" srcset="assets/imgs/goal/goal_200.png 200w,
                        assets/imgs/goal/goal_386.png 386w,
                        assets/imgs/goal/goal_526.png 526w,
                        assets/imgs/goal/goal_651.png 651w">
          <h3 class="centered">“You can't hit a target you can't see
            <br />…You need to have GOALS!”
            <br />~ Zig Ziglar</h3>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
