<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-file fixed-width space-right"></i>
      <span>Day 5 Follow-Up Script</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-started></nav-get-started>
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered">Day 5 Follow-Up Script</h1>
      <section>
        <p>
          Hey (Suzie)! It’s Day 5! How are you feeling?
        </p>
        <p class="reply">
          Suzie – Feeling Great!
        </p>
        <p>
          I knew that you would. What are you noticing so far?
        </p>
        <p class="reply">
          Suzie – Says 3 things she is noticing – better sleep, looser clothes etc.
        </p>
        <p>
          That’s so exciting and guess what? As long as you trust the process and keep going it only gets better. Curiously do you
          think Bob and Cindy would like to feel _________, ___________ and _____________ after just 5 days?
        </p>
        <p class="reply">
          Suzie – Yeah!
        </p>
        <p>
          Great! Why don’t we do this? We have a very simple text message you can send them to get a feel for whether they would be
          open to looking at some information and having me help them get started just like I did with you. Would you be
          willing to send a couple of text messages to (Bob) and (Cindy)?
        </p>
        <p class="reply">
          Suzie – Of course!
        </p>
        <p>
          I’m going to text you the message as if I were you texting Cindy and Bob. I want you to be on the receiving end of it and
          see how simple and natural it is. Then you’re going to copy it and send it to Cindy and Bob and we’ll set up some
          phone calls over the next couple of days.
        </p>
      </section>
      <section>
        <h3>Send this Text to Cindy</h3>
        <p>
          Hey girl (or Cindy)! Any interest in doing a nutritional cleansing system with me? I’ve only been using the system for 5
          days and I’m already experiencing _____________. I was tired of seeing everyone else’s before and afters and I
          was ready for my own. It’s so easy to do and everything tastes amazing! My friend is coaching me. She’s worked
          with loads of people and doesn’t charge anything. All we have to do is pay for our products! Want to do it with
          me?
        </p>
        <p class="reply">
          Cindy – Yes!
        </p>
        <p>
          Great!! The best thing to do is connect you with my friend (Jen). What’s your availability over the next couple of days?
        </p>
        <p>
          ——- Select a time that works for everyone ———
        </p>
        <p>
          Great that time works for her. (Jen) had me watch two short videos before our call and asked if you could watch them too.
          They’re a total of 10 minutes. I’ll send you the videos tomorrow morning. Can you watch them for sure?
        </p>
        <p class="reply">
          Cindy – Absolutely!
        </p>
        <p>
          Great! I’m so excited to do this together! Wait until you see the results people are getting. You’re gonna flip! We’re all
          set to talk tomorrow at (time). If for some reason you need to cancel please give me plenty of notice. I want to
          be mindful of (Jen’s) schedule. She’s really busy.
        </p>
        <p class="reply">
          Cindy – Thank you for thinking of me!!!
        </p>
        <p>
          [Send fun GIF of two girls in bikinis dancing or guys who are shredded flexing their muscles.]
        </p>
        <p>
          [Then use emoji finger pointing up saying this is going to be us soon!]
        </p>
        <p>
          [If not ready on Day 5, then Day 11, Day 14 and Day 30.]
        </p>
      </section>
      <section>
        <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2FDay-5-Script.pdf?alt=media&token=deaa466b-b28d-4356-bee6-1a1298647602">Download This Script as a PDF</a>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
