<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-phone fixed-width space-right"></i>
      <span>Weekday Calls</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-calls></nav-get-calls>
    <article>
      <h1 class="centered">Weekday Calls</h1>
      <section id="topics">
        <span class="weekday">Monday</span>
        <span class="weekday">Tuesday</span>
        <span class="weekday">Wednesday</span>
        <span class="weekday">Thursday</span>
        <span class="weekday">Friday</span>
        <span class="topic">Jumpstart Your Week</span>
        <span class="topic">Product</span>
        <span class="topic">Connecting</span>
        <span class="topic">Rising Leader</span>
        <span class="topic">Compensation Plan</span>
      </section>
      <div id="loadingDiv" *ngIf="!this.loaded">
        <img src="assets/imgs/misc/loading.gif" />
      </div>
      <section id="contentSection" *ngIf="this.loaded">
        <div class="call-container" *ngFor="let item of items" (click)="openAudioModal(item.subject, item.recorded, item.url)">
          <span class="icon">
            <i class="fa fa-headphones"></i>
          </span>
          <span class="recorded">{{item.recorded | date:'fullDate'}}</span>
          <span class="subject">{{item.subject}}</span>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
