<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-phone fixed-width space-right"></i>
      <span>Daily M-F Calls</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1600px) 100vw, 1600px" srcset="
      assets/imgs/main-background/main-background_400.jpg 400w,
      assets/imgs/main-background/main-background_916.jpg 916w,
      assets/imgs/main-background/main-background_1285.jpg 1285w,
      assets/imgs/main-background/main-background_1600.jpg 1600w" src="assets/imgs/main-background/main-background_1600.jpg"
      alt="Global Exec Team">
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Daily M-F Calls</h1>
      <div class="grid-container">
        <section>
          <h3>Different Types of Income &amp; Our Isagenix Compensation Plan with Adrienne Donovan &amp; Erin Brauer
          </h3>
          <h4>July 27, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07272018050015243_1154236.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Rising Leader Call with Nancy Baxter, Erin Giandonato, &amp; Patty MacNaught</h3>
          <h4>July 26, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07262018045951219_1152344.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Social Media &amp; How We Connect with Adrienne Donovan &amp; Erin Brauer</h3>
          <h4>July 25, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07252018050050367_1150576.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Basic Nutrition Overview with Adrienne Donovan, Brenda Sheftall &amp; Tracy Gaskins</h3>
          <h4>July 24, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07242018050150281_1198612.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Shout-outs &amp; Setup Your Week with Jessica Johnston</h3>
          <h4>July 23, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07232018050348145_1196324.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>What Our Industry Is &amp; Where Do You Want to Be with Chelsea Miller</h3>
          <h4>July 20, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07202018050103844_1193374.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Rising Leader Call with Chelsea Miller &amp; Liz Lima</h3>
          <h4>July 19, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07192018050135756_1191295.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Social Media Connecting with Chelsea Miller</h3>
          <h4>July 18, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07182018050118115_1189265.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>THAT'S WHAT THIS IS! with Chelsea Miller</h3>
          <h4>July 17, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07172018050120783_1187237.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Monday Shout-outs with Jessica Johnston</h3>
          <h4>July 16, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07162018050223168_1184918.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Professionals &amp; Why they LOVE the Isagenix Comp Plan with Susan Miller &amp; Dr. Michael Guthrie</h3>
          <h4>July 13, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07132018050106905_1181954.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>To Rise Up &amp; Show Up in Your Own Life with Intention with Susan Miller &amp; Linda Hannum</h3>
          <h4>July 12, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07122018050051407_1179956.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Connecting into the 5th Solution with Susan &amp; Murray Miller</h3>
          <h4>July 11, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07112018050141369_1178040.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Our Problem &amp; the Solution - Why Isagenix with Susan Miller &amp; Jennifer Barry</h3>
          <h4>July 10, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07102018050116104_1175820.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Monday Kickoff with Susan Miller</h3>
          <h4>July 9, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07092018050128229_1173534.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>What IF? &amp; the Compensation Plan with Carol Elizabeth</h3>
          <h4>July 6, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07062018050212967_1170513.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Accidental vs. Intentional Leadership with Carol Elizabeth</h3>
          <h4>July 5, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07052018050133884_1168828.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The Different Levels of Connecting with Carol Elizabeth</h3>
          <h4>July 4, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07042018050242557_1168035.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Creating Health Journies Through Our Products with Carol Elizabeth</h3>
          <h4>July 3, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07032018050222808_1166193.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Woooohhooo Monday Kickoff with Carol Elizabeth</h3>
          <h4>July 2, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_07022018050143135_1163942.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The Power of the Compensation Plan with Jessica Johnston</h3>
          <h4>June 29, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06292018050221056_1161116.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Rising Leader Rockstar Call with Jessica Johnston &amp; Lee Brewster</h3>
          <h4>June 28, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06282018050252259_1159257.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The Connecting Process with Jessica Johnston, Link Kiser, &amp; Larry Van Rossum</h3>
          <h4>June 27, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06272018050200954_1157430.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Product Stories &amp; Testimonies with Jessica Johnston</h3>
          <h4>June 26, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06262018050220882_1155308.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Monday Shout-outs Part 2 with Susan Miller</h3>
          <h4>June 25, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06252018052949193_1153374.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Monday Shout-outs Part 1 with Susan Miller</h3>
          <h4>June 25, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06252018050224768_1153300.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Compensation Friday with Nancy Baxter &amp; Manda Koss</h3>
          <h4>June 22, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06222018050251378_1150319.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>You Can't Fail If You Don't Quit with Erin Brauer &amp; Christina Carroll</h3>
          <h4>June 21, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06212018050142117_1158660.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Connecting Made Simple with Adrienne Donovan, Andrea Edmonds &amp; Courtney Dozier</h3>
          <h4>June 20, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06202018050136484_1156662.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Keto Diet &amp; Isagenix with Erin Brauer &amp; Adrienne Donovan</h3>
          <h4>June 19, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06192018050104661_1154709.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Shout-outs with Jessica Johnston</h3>
          <h4>June 18, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06182018050337467_1152506.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Building a Network &amp; Our Compensation Plan with Susan Miller</h3>
          <h4>June 15, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06152018050212345_1199651.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Top Achievers Keynote Speaker Recap with Murray Miller</h3>
          <h4>June 14, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06142018050229818_1197690.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Connecting &amp; Overcoming Objections with Susan Miller</h3>
          <h4>June 13, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06132018050129685_1195719.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Brilliant Product Validation Call with Susan Miller, Jennifer Barry &amp; Amanda Wright</h3>
          <h4>June 12, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06122018050146490_1193567.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The Power of SHOWING UP with Susan Miller</h3>
          <h4>June 11, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06112018050224330_1191401.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The ISAGENIX Compensation Plan SIMPLIFIED</h3>
          <h4>June 8, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06082018050048476_1188528.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The Couples Connection &amp; ISAGENIX with Carol Elizabeth, Jen &amp; Louie Towkaniuk</h3>
          <h4>June 7, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06072018050153754_1186744.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>All About Connecting with Carol Elizabeth, Staci Shapiro &amp; Jen Oyarzun</h3>
          <h4>June 6, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06062018050137575_1184755.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Sip 'N Sample Review with Carol Elizabeth &amp; Tavia Rogerson</h3>
          <h4>June 5, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06052018050120496_1182634.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Monday Shout-outs with Carol Elizabeth</h3>
          <h4>June 4, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06042018050036826_1180349.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Consistency &amp; a Brilliant Compensation Plan</h3>
          <h4>June 1, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_06012018050133385_1177264.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Powerhouse Trio Rising Leader Call with Carol Elizabeth, Jeanette Lowry, Jen Oyarzun &amp; Jill Connors
          </h3>
          <h4>May 31, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05312018050312270_1175253.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Connecting Conversations with Laura Thompson &amp; Linda Hannum</h3>
          <h4>May 30, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05302018050254520_1173258.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>The What &amp; The Why of the BBB + Result Testimonies with Erin Brauer</h3>
          <h4>May 29, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05292018050338548_1170907.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>RAPID CRYSTAL RESET &amp; Shout-outS with Carol Elizabeth</h3>
          <h4>May 28, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05282018050117976_1169999.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>RAW 'N REAL COMPENSATION with Jessica Johnston &amp; Susan Miller</h3>
          <h4>May 25, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05252018050155500_1167462.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Be the LEADER You Would FOLLOW with Jessica Johnston &amp; Rod Hairston</h3>
          <h4>May 24, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05242018050413437_1165659.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Beginning with a Conversation - What to Say with Jessica Johnston</h3>
          <h4>May 23, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05232018050247735_1163768.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>Science &amp; Cleansing - Why Everyone NEEDS it with Jenna Mayer &amp; Emily Munson</h3>
          <h4>May 22, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05222018050135971_1161660.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>

        <section>
          <h3>PUSH WEEK to Executive &amp; Shout-outs with Jessica Johnston</h3>
          <h4>May 21, 2018</h4>
          <audio controls>
            <source src="//rec001.freeconferencecalling.com/mp3/1182865/257064/LAF3494_05212018050116992_1159382.mp3">
            <p>Your device does not support native audio.</p>
          </audio>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
