<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-comment fixed-width space-right"></i>
      <span>Welcome Text</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Success" selectedMenuItem="GET Success GET Focused"></nav-main>
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered">Three Simple Steps to Welcome Your New Customer</h1>
      <div id="container">
        <section>
          <h3>1. Simply Cut and Paste This Message ⬇</h3>
          <p>
            Hi _________!
            <br /> I’m so excited to welcome you to Isagenix!
          </p>
          <p>
            Click
            <a target="_blank" href="https://backoffice.isagenix.com/login.aspx">here</a> to login into your online
            account.
          </p>
          <p>
            Your username:
            <br /> Password:
            <br /> Autoship date:
          </p>
          <p>
            Before your box arrives make sure to visit
            <span class="link-span" (click)="openStep1Page()">globalexecteam.com/step-1/</span> (password: ONETEAM) to learn all about your new system,
            download meal plans, recipes and more.
          </p>
          <p>
            Can’t wait for you to get your box and go over everything with you. You’re going to love this!
          </p>
        </section>
        <div>
          <section>
            <h3>2. Add Your New Customer's Information</h3>
            <p>User Name</p>
            <p>Password</p>
            <p>Autoship Date</p>
          </section>
          <section>
            <h3>3. Send by Your Customer's Preferred Method of Communication</h3>
            <p>Text</p>
            <p>Direct Message</p>
            <p>Email</p>
          </section>
          <section>
            <span class="link-span" (click)="pdfProvider.openPdf('Welcome Text','https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fwelcome-new-customer.pdf?alt=media&token=44722560-758a-40c6-9062-93f519f195ac')">Download
              These Steps as a PDF</span>
          </section>
        </div>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
