<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-eye fixed-width space-right"></i>
      <span>GET Focused</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Success" selectedMenuItem="GET Success GET Focused"></nav-main>
    <nav>
      <span id="goBack" class="back-link link-span" (click)="goBack()">&lt; GET Fit</span>
      <span id="goForward" class="forward-link link-span" (click)="goForward()">GET Free &gt;</span>
    </nav>
    <article>
      <div>
        <h1>GET Focused</h1>
      </div>
      <div id="container">
        <section id="section1">
          <h3>Connect <span><br />Send a Video</span></h3>
          <div>
            <span>GetFree.global link: <a href="//getfree.global" target="_blank">Business</a> or <a href="//getfree.global/why-cleanse"
                target="_blank">Product</a></span>
            <div id="pwDiv" class="indented">Password: GETFIT</div>
            <ul>
              <li>Call a Few Friends - <span class="link-span" (click)="openPage('BusinessProspectingPage')">Business Prospecting</span></li>
              <li>Text a Few Friends - <span class="link-span" (click)="openPage('TextYourFewPage')">Sample Text</span></li>
              <li>Initial Facebook Post - <span class="link-span" (click)="openPage('PostOnFacebookPage')">Simple
                  Steps</span></li>
            </ul>
          </div>
          <h3>Validate <span><br />Add to Facebook Page(s)</span></h3>
          <ul>
            <li><a href="//www.facebook.com/groups/1929979043937515/" target="_blank">GETFree</a> and/or <a href="//www.facebook.com/groups/960960177302669"
                target="_blank">GETFit</a> Facebook Groups</li>
            <li>Follow-up Support Scripts: <span class="link-span" (click)="openPage('GetThemStartedOpportunityPage')">Opportunity</span>
              or <span class="link-span" (click)="openPage('GetThemStartedPage')">Product</span></li>
            <li>3-Way Call with Team Leader</li>
            <li>Overcoming Objections <span class="link-span" (click)="openVideoModal()">Video</span></li>
          </ul>
          <h3>Enroll <span><br />Close with Product</span></h3>
          <ul>
            <li>"Your next step is... to <a href="//getfree.global/getting-started-packs-usa" target="_blank">Try the
                Products</a>"</li>
            <li>"Let me show you how to <span class="link-span" (click)="openPage('GetThemStartedRightPage')">Open a
                Wholesale Account...</span>"</li>
          </ul>
          <h3 id="dupe">Educate <span><br />Fit <i class="fa fa-circle"></i> Focused <i class="fa fa-circle"></i> Free</span></h3>
          <ul>
            <li><span class="link-span" (click)="openHomePage()">globalexecteam.com</span>
              <span id="pw">(Password: ONETEAM)</span></li>
          </ul>
        </section>
        <section id="divider"></section>
        <section id="section2">
          <a href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/images%2Fbaseball-diamond.jpg?alt=media&token=5393a029-db58-4ae0-9301-bc5bf515416a"
            target="_blank">
            <img id="img" alt="GET Duplication System" src="assets/imgs/misc/baseball-diamond-sm.jpg" />
          </a>
          <div id="note">
            <span class="note">(Click the image above to view it full-screen.)</span>
          </div>
          <h3 class="centered"><span class="link-span" (click)="openPage('DuplicationSystemPage')">GET Duplication
              System Overview.<br />Click Here to Download.</span></h3>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
