<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-podcast fixed-width space-right"></i>
      <span>Podcasts</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <site-nav></site-nav>
    <article>
      <h1 class="centered uppercase">Podcasts</h1>
      <div class="grid-container">
        <section>
          <h3>Isagenix Podcasts</h3>
          <a href="//isagenixpodcast.com/" target="_blank">
            <img src="assets/imgs/podcasts/isagenix.jpg" alt="Isagenix Podcasts" />
          </a>
          <p>
            <a href="//isagenixpodcast.com/" target="_blank">www.isagenixpodcast.com</a>
          </p>
        </section>
        <section>
          <h3>Tony Robbins</h3>
          <a href="//www.tonyrobbins.com/podcasts/" target="_blank">
            <img src="assets/imgs/podcasts/tony-robbins.jpg" alt="Tony Robbins Podcasts" />
          </a>
          <p>
            <a href="//www.tonyrobbins.com/podcasts/" target="_blank">www.tonyrobbins.com/podcasts</a>
          </p>
        </section>
        <section>
          <h3>Network Marketing Pro</h3>
          <a href="//nmpro.libsyn.com/" target="_blank">
            <img src="assets/imgs/podcasts/eric-worre.jpg" alt="Network Marketing Pro Podcasts" />
          </a>
          <p>
            <a href="//nmpro.libsyn.com/" target="_blank">nmpro.libsyn.com</a>
          </p>
        </section>
        <section>
          <h3>David T.S. Wood</h3>
          <a href="//www.thekickasslife.com/" target="_blank">
            <img src="assets/imgs/podcasts/david-wood.jpg" alt="David T.S. Wood Podcasts" />
          </a>
          <p>
            <a href="//www.thekickasslife.com/" target="_blank">www.thekickasslife.com</a>
          </p>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
