page-get-success-step-1 {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  audio {
    margin-left: -5px;
    margin-bottom: 40px;
  }

  .highlight {
    color: #E46C0A;
  }

  .pdf {
    display: block;
    margin-top: 10px;
  }

  ul {
    margin-bottom: 40px;
  }

  h4 {
    margin-top: 40px;

    span {
      color: darken($tertiary-color, 20%);
      font-size: smaller;
    }
  }

  #freeToBeMeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 452px;
    margin-bottom: 40px;
  }

  #knowYourWhyVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  @media (min-width: 640px) {
    .grid-container {
      grid-template-columns: 50% 50%;
    }
    section {
      margin-left: 20px;
      margin-right: 20px;
    }
    #secondSection {
      border-left: 4px solid #4F81BD;
      padding-left: 20px;
    }
  }
}
