<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Success - Step 1</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-success></nav-get-success>
    <article>
      <h1>GET Success</h1>
      <h2>Step One</h2>
      <div id="outerGrid">
        <section id="firstSection">
          <h3>Make Your LIST and Develop Your STORY</h3>
          <h4>Establishing Your Why
            <span>by Peta Kelly-Coover</span>
          </h4>
          <audio controls>
            <source src="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/mp3s%2Fpeta-kelly-establishing-your-why.mp3?alt=media&token=08083ae3-2232-46b4-9f46-78e1eb6b4df1">
            <p>Your device does not support native audio.</p>
          </audio>
          <ul>
            <li>
              <span class="pdf" (click)="pdfProvider.openPdf('Identify YOUR Why', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fidentify-your-why.pdf?alt=media&token=24f5ef6a-3d07-47af-ad13-32c269f4b83c')">Identify YOUR Why</span>
            </li>
            <li>Set YOUR goals</li>
            <li>Share with your Team Leader</li>
            <li>
              <span class="pdf" (click)="pdfProvider.openPdf('Develop Your 30-Second Story', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fshare-your-story.pdf?alt=media&token=a88674ef-a20d-4f89-8daf-17a48c2f3b69')">Develop YOUR 30-Second Story</span>
            </li>
            <li>Practice, Practice, Practice</li>
            <li>
              Videotape and Share with Your Team Leader
            </li>
            <li>
              <span class="pdf" (click)="pdfProvider.openPdf('Who Do You Know?', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fwho-do-you-know.pdf?alt=media&token=236ec3f7-66ee-4be8-89e9-95ddf4f0c424')">Who Do YOU Know?</span>
            </li>
            <li>
              Identify Your Networks
            </li>
            <li>
              Write Down 100 Names
            </li>
            <li>
              Highlight Your Top 20 "A Team"
            </li>
          </ul>
        </section>
        <section id="divider"></section>
        <section id="secondSection">
          <img id="freeToBeMeImg" alt="Free to Be Me" sizes="(max-width: 452px) 100vw" src="assets/imgs/free-to-be-me/free-to-be-me_452.png"
            srcset="assets/imgs/free-to-be-me/free-to-be-me_200.png 200w,
                      assets/imgs/free-to-be-me/free-to-be-me_301.png 301w,
                      assets/imgs/free-to-be-me/free-to-be-me_387.png 387w,
                      assets/imgs/free-to-be-me/free-to-be-me_452.png 452w">
          <h4 id="knowYourWhy">Know Your Why
            <span>(with Jessica Johnston)</span>
          </h4>
          <img id="img" src="assets/imgs/why-isagenix/why-isagenix_1015.jpg" (click)="openVideoModal()" sizes="(max-width: 1280px) 100vw"
            alt="Why Isagenix" class="video-thumb" srcset="
                        assets/imgs/why-isagenix/why-isagenix_400.jpg 400w,
                        assets/imgs/why-isagenix/why-isagenix_742.jpg 742w,
                        assets/imgs/why-isagenix/why-isagenix_1015.jpg 1015w" />
          <h5 id="quote">“The Future Belongs to Those Who <br />BELIEVE in the BEAUTY of Their DREAMS.”</h5>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
