page-get-success-step-1 {

  #outerGrid {
    display: grid;
    grid-template-columns: auto;
  }

  #firstSection, #secondSection {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
  }

  #quote {
    color: $bright-accent-color;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  audio {
    margin-bottom: 20px;
  }

  .pdf {
    margin-top: 30px;
    padding-top: 8px;
  }

  ul {
    list-style-type: none;
    margin-bottom: 40px;

    li {
      margin-left: -40px;
      margin-bottom: 10px;
    }
  }

  #img {
    display: block;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 800px) {
    #outerGrid {
      grid-template-columns: 1fr 1fr;
    }

    #firstSection {
      justify-content: center;
      margin-right: 40px;
      padding-right: 40px;
    }

    #secondSection {
      justify-items: center;
      border-left: 4px solid #4F81BD;
      margin-left: 40px;
      padding-left: 40px;
    }
  }
}
