<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Success - Step 3</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <site-nav></site-nav>
    <article>
      <h1 class="centered uppercase">GET Success - Step 3</h1>
      <div id="outerGrid" class="grid-container">
        <section id="firstSection">
          <h3>LEARN the Duplication System</h3>
          <h4 class="highlight">
            <img class="diamond" src="assets/imgs/misc/orange-diamond.png" alt="" />Income Producing Activity</h4>
          <h4>Basic ACTION Steps that keep the proven process Simple for mass duplication is the KEY to Success</h4>
          <ul>
            <li><h5 class="uppercase">Connect</h5></li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Share Your Story <a>(Scripts)</a></li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Send Video from <a target="_blank" href="//getfree.global">(GETfree.Global)</a></li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Follow-up <a>(Scripts)</a></li>
            <li><h5 class="uppercase">Validate</h5></li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Add to <a target="_blank" href="//www.facebook.com/groups/960960177302669/">GETFIT</a> and <a target="_blank" href="//www.facebook.com/groups/1929979043937515/">GETFREE</a> Facebook Pages</li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />3 Way Intro with Up-line Leader (Text, IM, Call)</li>
            <li><h5 class="uppercase">Enroll</h5></li>
            <li id="tryProduct">“YOUR NEXT STEP IS to try the product”</li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Send Video on <a>Value Pack</a> by Melissa Henault</li>
            <li><h5 class="uppercase">Educate</h5></li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Welcome to <a href="#">Globalexecteam.com</a></li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Add to <a target="_blank" href="//www.facebook.com/groups/globalexecutiveteam/">Global Exec Team</a> Facebook Page</li>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />Attend Next Local and <a target="_blank" href="//www.isagenixevents.com/">Corporate Event</a></li>
          </ul>
        </section>
        <section id="secondSection">
          <h4>A Virtual Franchise
            <span>by Chelsea Miller</span>
          </h4>
          <img id="virtualFranchiseVideo" src="assets/imgs/why-isagenix/why-isagenix_1280.jpg" (click)="openVideoModal()" sizes="(max-width: 1280px) 100vw"
            alt="Why Isagenix" class="video-thumb" srcset="
                                assets/imgs/why-isagenix/why-isagenix_400.jpg 400w,
                                assets/imgs/why-isagenix/why-isagenix_1045.jpg 1045w,
                                assets/imgs/why-isagenix/why-isagenix_1280.jpg 1280w" />
          <img id="img" alt="GET Duplication System" sizes="(max-width: 874px) 100vw" src="assets/imgs/load-the-bases/load-the-bases_874.png"
            srcset="assets/imgs/load-the-bases/load-the-bases_400.png 400w,
                        assets/imgs/load-the-bases/load-the-bases_567.png 567w,
                        assets/imgs/load-the-bases/load-the-bases_686.png 686w,
                        assets/imgs/load-the-bases/load-the-bases_874.png 874w">
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
