<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>Enrollment Instructions</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1600px) 100vw, 1600px" srcset="
      assets/imgs/main-background/main-background_400.jpg 400w,
      assets/imgs/main-background/main-background_916.jpg 916w,
      assets/imgs/main-background/main-background_1285.jpg 1285w,
      assets/imgs/main-background/main-background_1600.jpg 1600w" src="assets/imgs/main-background/main-background_1600.jpg"
      alt="Global Exec Team">
  </header>

  <main role="main">
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered uppercase">Enrollment Instructions</h1>
      <section>
        <ul>
          <li>
            Log into your Isagenix Back Office and select the ENROLL NEW MEMBER tab on your home page. Scroll down and select BOTTOM
            LEFT or BOTTOM RIGHT. If you’re unsure where exactly the enrollment should go, check with your Upline/Sponsor.
            Only select a box that says “Enroll New Associate In This Spot” (never enroll where it says “Unoccupied!”)
          </li>
          <li>
            Choose the country &amp; $29 Wholesale Associate on Autoship
          </li>
          <li>
            Select one of the 3 starter systems for the initial order, follow customization steps and select Wholesale Quantity.
            <em>*** Make sure to add IsaDelights to the 30 Day System as they are not included.***</em>
          </li>
          <li>
            Set Up Autoship by using the same pack in their initial order. They can change this later.
          </li>
          <li>
            Open autoship calendar and manually set back 1 day. Then, open the drop down menu and set to a 29 day cycle.
          </li>
          <li>
            Create the Username (FirstNameLastName), set password to one of your choice, and input personal information from Order Form.
          </li>
          <li>
            Enter Billing Information.
          </li>
          <li>
            Double-check all information and press PLACE ORDER. You’ll know you’re done when you receive a Customer ID &amp; Confirmation
            Number.
          </li>
          <li>
            Immediately do a Welcome Call with someone from the community and give your new Associate a shout-out in the Team Pages!
          </li>
          <li>
            Send the Global Exec Team Welcome Letter by their preferred contact method (text, email, or FB Messenger).
          </li>
        </ul>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
