page-get-success-step-4 {
  #outerGrid {
    display: grid;
    grid-template-columns: auto;
  }

  #firstSection, #secondSection {
    display: grid;
    align-content: flex-start;
  }

  h4 {
    text-align: center;
  }

  h5 {
    color: #4F81BD;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin-bottom: 40px;

    li {
      margin-left: -40px;
      margin-bottom: 10px;
    }
  }

  .diamond {
    height: 15px;
    margin-right: 10px;
  }

  .highlight {
    color: $bright-accent-color;
    text-align: left;
  }

  #img {
    display: block;
    width: 75vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #divider {
    display: none;
  }

  #compPlan, #dictionary {
    margin-left: -15px;
  }

  @media (min-width: 800px) {
    #outerGrid {
      grid-template-columns: 1fr 4px 1fr;
	  column-gap: 40px;
	  grid-column-gap: 40px;
    }

    #divider {
      display: inherit;
      background-color: #4F81BD;
    }
  }
}
