<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-heartbeat fixed-width space-right"></i>
      <span>GET Fit</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
      <nav-main selectedSection="GET Started" selectedMenuItem="GET Started GET Fit"></nav-main>
    <article>
      <h1>GET Fit</h1>
      <h2>Use the Products and Feel Amazing</h2>
      <div id="topGrid">
        <section id="videoSection">
          <img *ngIf="activeVideo == 'unpacking'" src="assets/imgs/misc/unpacking.jpg" (click)="openVideoModal('isa-box')"
            alt="What's in Your Box?" class="video-thumb" />
          <img *ngIf="activeVideo == 'shake-day'" src="assets/imgs/misc/shake-day.jpg" (click)="openVideoModal('shake-day')"
            alt="How to Do a Shake Day" class="video-thumb" />
          <img *ngIf="activeVideo == 'cleanse-day'" src="assets/imgs/misc/cleanse-day.jpg" (click)="openVideoModal('cleanse-day')"
            alt="How to Do a Cleanse Day" class="video-thumb" />
        </section>
        <section id="videoSelectorSection">
          <div id="unpacking" (click)="toggleVideo('unpacking')">
            <h3>Unpack Your Box</h3>
          </div>
          <div class="divider"></div>
          <div id="shake-day" (click)="toggleVideo('shake-day')">
            <h3>Rock Out Your Shake Days</h3>
          </div>
          <div class="divider"></div>
          <div id="cleanse-day" (click)="toggleVideo('cleanse-day')">
            <h3>You'll Love Your Cleanse Days</h3>
          </div>
        </section>
      </div>
      <div>
        <section id="linkSection">
          <h3>Download Your Tools</h3>
          <div id="linksDiv">
            <div>
              <a target="_blank" href="https://www.isagenix.com/isalife/landing">IsaLife App</a> - Personal Fitness
              Tracker and Communication Tool
            </div>
            <div>
              <span class="link-span" (click)="pdfProvider.openPdf('30-Day System Guide','https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fsystem-guide.pdf?alt=media&token=f5c43511-b9e4-488c-9cad-326f4729965c')">
                30-Day System Guide</span> - A simple guide to help you get started using the products
            </div>
            <div>
              <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/images%2Fshakedaytracker.jpg?alt=media&token=ce028cf6-7f05-4179-be6b-3c10cda31a30">Shake
                Day Tracker</a> - Daily Checklist for your Shake Days
            </div>
            <div>
              <span class="link-span" (click)="openPage('CleanseDayTrackerPage')">Cleanse Day Schedule</span> - Hourly
              Schedule to Make Cleanse Days a Breeze
            </div>
            <div>
              <span class="link-span" (click)="pdfProvider.openPdf('Product Fast Facts','https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fus-en-product-fast-facts.pdf?alt=media&token=7086c75f-a8fd-41ca-86d2-09ed13385d9e')">
                Product Fast Facts</span> - Basic nutritional information for various Isagenix products
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
