<nav id="mainNav">
  <div id="logoContainer">
    <img id="getLogoPageTitle" src="assets/imgs/misc/get-lg.png" alt="Global Exec Team" (click)="openPage('HomePage')" />
  </div>
  <section>
    <div (click)="openPage('HomePage')">Home</div>
    <div (click)="openPage('GetSuccessStep_1Page')">Step One</div>
    <div (click)="openPage('GetSuccessStep_2Page')">Step Two</div>
    <div (click)="openPage('GetSuccessStep_3Page')">Step Three</div>
    <div (click)="openPage('RecapPage')">Recap</div>
  </section>
</nav>
