<nav id="mainNav">
  <div id="logoContainer">
    <img id="getLogoPageTitle" src="assets/imgs/misc/get-lg.png" alt="Global Exec Team" (click)="openPage('HomePage')" />
  </div>
  <section>
    <div (click)="openPage('WelcomePage')">Welcome</div>
    <div (click)="openPage('GetSuccessStep_1Page')">Step 1</div>
    <div (click)="openPage('GetSuccessStep_2Page')">Step 2</div>
    <div (click)="openPage('GetSuccessStep_3Page')">Step 3</div>
    <div (click)="openPage('GetSuccessStep_4Page')">Step 4</div>
    <div (click)="openPage('RecapPage')">Recap</div>
  </section>
</nav>
