<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>Step 4</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
      <img alt="" sizes="(max-width: 1400px) 100vw" src="assets/imgs/join/join-1400.jpg" srcset="
      assets/imgs/join/join-400.jpg 400w,
      assets/imgs/join/join-819.jpg 819w,
      assets/imgs/join/join-1125.jpg 1125w,
      assets/imgs/join/join-1400.jpg 1400w">
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Get Started - Step 4: Eat for Free</h1>
    </article>
    <div class="grid-container">
      <section>
        <img (click)="openVideoModal()" class="video-thumb" sizes="(max-width: 800px) 100vw, 800px" srcset="
      assets/imgs/you-share-they-share-repeat/you-share-they-share-repeat_200.jpg 200w,
      assets/imgs/you-share-they-share-repeat/you-share-they-share-repeat_800.jpg 800w" src="assets/imgs/you-share-they-share-repeat/you-share-they-share-repeat_800.jpg"
          alt="You Share, They Share, Repeat Video">
          <h3 class="centered">You Share, They Share, Repeat</h3>
      </section>
      <section id="linkSection">
        <p>
          <a target="_blank" href="https://www.isagenix.com/en-us/opportunity/become-an-associate">GET PAID</a> - Watch "Become an ASSOCIATE" in your back office. Username and Password are in your Welcome Email.
        </p>
        <p>
          <a target="_blank" href="https://www.isagenix.com/en-us/resource-center/you-share-they-share">ENROLL Two Friends</a> - Ask Sponsor for placement assistance.
        </p>
        <p>
          <a target="_blank" href="https://www.isagenix.com/isabody-challenge">IsaBody Challenge</a> - Register $200 Free Product.
        </p>
        <p>
          <a target="_blank" href="https://www.isagenix.com/-/media/promotion/team-builders-club/team-builders-club-flyer/us-en-team-builders-club-flyer.ashx">FREE Vitamins</a> - Enroll 5 people.
        </p>
      </section>
    </div>
  </main>
  <get-footer></get-footer>
</ion-content>
