<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-facebook fixed-width space-right"></i>
      <span>Post on Facebook</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <site-nav></site-nav>
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered uppercase">Post on Facebook</h1>
      <section id="topSection">
        <p>
          The intention of this post is to assist you in making an impact in the health of your social network, while earning yourself
          a fast return on your investment. It’s highly recommended that you follow both the post template and follow up
          template verbatim, in order to maximize your results. Both have been proven to literally create millions of dollars
          in revenue for Isagenix.
        </p>
        <p>
          Pro Tips:
        </p>
        <p>
          1. Posts with photos receive more engagement on social media. Use your enrolling sponsor’s before/after photo in your post.
        </p>
        <p>
          2. When To Post: Sunday through Thursday between 7:30pm-8:30pm (in your local time zone)
        </p>
      </section>
      <section>
        <h3>If You Haven't Started Yet</h3>
        <p>
          After watching my friend (tag enrolling sponsor) release / experience / have _____________, _____________ and _____________
          thanks to an amazing Superfood system, I decided it was time for me to experience similar results, because I am
          tired of feeling _____________, ______________ and _____________.
        </p>
        <p>
          I’m so excited to get started and to get my body back. My system hasn’t even arrived yet and I’d love to have some of my
          good friends join me on this journey so we can hold each other accountable and get the healthiest we’ve ever been
          together. Who’s up for looking and feeling their best?
        </p>
      </section>
      <section>
        <h3>If You've Already Started</h3>
        <p>
          After watching my friend (tag enrolling sponsor) release / experience / have _____________, _____________ and _____________
          thanks to an amazing Superfood system, I decided it was time for me to experience similar results, because I was
          tired of feeling _____________, ______________ and _____________.
        </p>
        <p>
          I’ve only been using the system for ______ days and I’m already _______________, _____________ and __________.
        </p>
        <p>
          I’d love to have some of my good friends join me on this journey so we can hold each other accountable and get the healthiest
          we’ve ever been together. Who’s up for looking and feeling their best?
        </p>
      </section>
      <section>
        <h3>Progress Post
          <em>(highly recommend including transformation pics if you have them)</em>
        </h3>
        <p>Before I found this system, I was feeling ____________, ______________ and _________ and I’d had enough. After watching
          tons of my friends get results, I finally decided to get started on an amazing superfood system and I can’t believe
          what’s happened!
        </p>
        <p>
          I’ve only been using the system for ______ days/weeks and I’ve already experienced ___________, __________ and ___________!!
          I’d tried so many things before this and I’m just so grateful to my friend (tag enrolling sponsor) for introducing
          this to me. It’s super simple to follow and everything tastes amazing! Finally, a solution that actually works!!!</p>
      </section>
      <section>
        <h3>Once Friends Start Commenting, Follow This Template Word-for-Word</h3>
        <p>
          <strong>*** Note: make sure to find out your Upline/Partners available call times for the current week before entering
            into this conversation. They should provide it to you during your New Associate Interview Call. ***</strong>
        </p>
        <p>
          <strong>YOU:</strong> Hey [name]! I’m glad you commented, one of the things that excites me most about starting this system
          is doing it with ______ [friends/family/people I know/co-workers, etc]. This may or may not be for you, but if
          it is, what would you love to see happen?
        </p>
        <p>
          [THEY GIVE THEIR RESPONSE: (i.e. lose weight, have more energy, etc).]
        </p>
        <p>
          <strong>YOU:</strong> Awesome, a big reason I was inspired to get started, is because this system seriously works for everyone.
          I’ve seen so many incredible transformations. I know that one of the biggest things that contributed to my getting
          out of shape was ______, _________, ______ [enter in your personal challenges i.e.’no time to eat healthy, didn’t
          know where to start, too busy with the kids, working long hours, etc].
        </p>
        <p>
          What have been some of your biggest challenges with (enter their goal— losing weight, sleeping better, etc)?
        </p>
        <p>
          [THEY RESPOND]
        </p>
        <p>
          <strong>YOU:</strong> I can totally appreciate that, you’re going to love this. Let’s do this, since I’m just getting started,
          I’d love to get you on a call with my friend ________ and me. You’ll love him/her! He/She is ________ and _________
          (see examples below). What are some times that work for you over the next day or two?
        </p>
        <p>
          <em>Examples (feel free to mix and match):</em>
        </p>
        <p>
          “she’s really been amazing since day 1 and there’s no one better to help you get all your questions answered.”
        </p>
        <p>
          “he’s super knowledgeable about how this all works and has already helped tons of people achieve their goals on this system.”
        </p>
        <p>
          <strong>THEM:</strong> That sounds great! I’m available tomorrow morning or evening.
        </p>
        <p>
          <strong>YOU:</strong> Ok, awesome. Let me confirm with _______, which of those works best, he/she is super busy.
        </p>
        <p>
          <strong>YOU:</strong> K, we’re all set for ___ (time). Before we hop on the call, there are a couple of brief videos that
          provide some context for our conversation, if I sent them to you a few hours before we chat will you watch them
          for sure? They’re less than 10 mins.
        </p>
        <p>
          <strong>THEM:</strong> Absolutely.
        </p>
        <p>
          <strong>YOU:</strong> Great should I send them through FB?
        </p>
        <p>
          <strong>THEM:</strong> Sure
        </p>
        <p>
          <strong>YOU:</strong> K, will do. What’s the best # to reach you on for our call?
        </p>
        <p>
          <strong>THEM:</strong> __________
        </p>
        <p>
          <strong>YOU:</strong> Great, talk soon!
        </p>
        <p>
          <strong>THEM:</strong> Great! Can’t wait!
        </p>
        <p>
          AND THAT’S IT! DO NOT CONTINUE THE CONVERSATION PAST THAT!
        </p>
        <p>
          Send Instructions either the day of the call or approximately an hour before the scheduled call with the following:
        </p>
        <p>
          “Hey [Name],
        </p>
        <p>
          I told [enter Mentor name] all about you and he/she is excited to connect with you! So we can be mindful of [enter Mentor's
          name] time and yours as well, please make sure you watch the videos before we chat. I’ll call you a few minutes
          before [enter scheduled call time].
        </p>
        <p>
          1st: Go to
          <a href="#">www.globalexecteam.com</a> and watch the fun two-minute video on the home page.
        </p>
        <p>
          2nd: IF they’re 18-35: Go to the Elevate > Videos section &amp; watch the 'Start Your Life' and 'Transform Your Life' videos
          on that page.
        </p>
        <p>
          IF they’re 35+: Go to the Elevate > Videos section &amp; watch the 'Transform Your Life' and 'The Isagenix Difference' videos
          on that page.
        </p>
        <p>
          Look forward to chatting with you on/at (enter appointment time).”
        </p>
        <p>
          AND THAT’S IT! DO NOT CONTINUE THE CONVERSATION PAST THAT!
        </p>
      </section>
      <section>
        <h3>
          Pro Tips
        </h3>
        <p>
          How To Respond If They Say/Ask:
        </p>
        <p>
          “How much is it?”
        </p>
        <p>
          <strong>YOU:</strong> It really depends, everything is customized and you’re just re-allocating grocery money, so it’ll
          fit within whatever you’re currently spending on food.
        </p>
        <p>
          “What’s the name of the system?”
        </p>
        <p>
          <strong>YOU:</strong> It’s called Isagenix.
          <em>(And then get right back where you left off in the template)!</em>
        </p>
        <p>
          “How does it work?”
        </p>
        <p>
          <strong>YOU:</strong> It’s so simple, I’ll send you a few things to look at.
          <em>(And then get right back to the template)!</em>
        </p>
      </section>
      <section>
        <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2FPost-On-Facebook.pdf?alt=media&token=44a76dca-70cf-4a0a-b8b0-86a442ab1a39">Download this script to laminate as a reference</a>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
