page-post-on-facebook {
  #topSection p {
    font-style: italic;
  }

  .highlight
  {
    color: #4F81BD;
    font-weight: bold;
  }

  h3 {
    color: #4F81BD;
  }

  #insert {
    color: #C00000;
    font-style: italic;
  }

  section {
    margin-bottom: 50px;
  }
}
