<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Started - Step 1</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-started></nav-get-started>
    <article>
      <h1>GET Started - Step One</h1>
      <h2>Use the Products and Feel Amazing</h2>
      <div id="topGrid">
        <section id="videoSection">
          <img *ngIf="activeVideo == 'unpacking'" src="assets/imgs/misc/unpacking.jpg" (click)="openVideoModal('isa-box')"
            alt="What's in Your Box?" class="video-thumb" />
          <img *ngIf="activeVideo == 'shake-day'" src="assets/imgs/misc/shake-day.jpg" (click)="openVideoModal('shake-day')"
            alt="How to Do a Shake Day" class="video-thumb" />
          <img *ngIf="activeVideo == 'cleanse-day'" src="assets/imgs/misc/cleanse-day.jpg" (click)="openVideoModal('cleanse-day')"
            alt="How to Do a Cleanse Day" class="video-thumb" />
        </section>
        <section id="videoSelectorSection">
          <div id="unpacking" (click)="toggleVideo('unpacking')">
            <h3>Unpack Your Box</h3>
          </div>
          <div class="divider"></div>
          <div id="shake-day" (click)="toggleVideo('shake-day')">
            <h3>Rock Out Your Shake Days</h3>
          </div>
          <div class="divider"></div>
          <div id="cleanse-day" (click)="toggleVideo('cleanse-day')">
            <h3>You'll Love Your Cleanse Days</h3>
          </div>
        </section>
      </div>
      <div>
        <section id="linkSection">
          <h3>Download Your Tools</h3>
          <div id="linksDiv">
            <div>
              <a target="_blank" href="https://www.isagenix.com/isalife/landing">IsaLife App</a> - Personal fitness
              tracker, coach &amp; product ordering platform available from your app store.
            </div>
            <div>
              <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/images%2Fshakedaytracker.jpg?alt=media&token=ce028cf6-7f05-4179-be6b-3c10cda31a30">Shake
                Day Tracker</a> - Daily Checklist for your Shake Days
            </div>
            <div>
              <span class="link-span" (click)="openPage('CleanseDayTrackerPage')">Cleanse Day Schedule</span> - Hourly
              Schedule to Make Cleanse Days a Breeze
            </div>
            <div>
              <span class="link-span" (click)="pdfProvider.openPdf('Four-Week Meal Plan', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2FFour-Week-Meal-Plan.pdf?alt=media&token=ed785524-658e-4e79-9d27-25112d562f56')">Four-Week
                Meal Plan</span> - Takes All the Guesswork Out of What to Eat and When
            </div>
            <div>
              <span class="link-span" (click)="pdfProvider.openPdf('Build-A-Meal Guide', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2F400-600-Calorie-Meals.pdf?alt=media&token=c7025725-08e2-4c75-a991-5d7cfe940a95')">Build-A-Meal
                Guide</span> - Simple Meal Planning Tool For Quick Lunches or Dinners
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
