page-step-1 {
  #linksDiv {
    display: grid;
    grid-template-rows: auto auto auto auto auto;

    div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  @media (min-width: 800px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-content: stretch;

      #section1, #section3 {
        margin: 20px 20px 20px 0;
      }

      #section2, #section4 {
        margin: 20px 0 20px 20px;
      }
    }
  }
}
