<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-book fixed-width space-right"></i>
      <span>Books</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-elevated></nav-get-elevated>
    <article>
      <h1 class="centered">Books</h1>
      <h5 class="centered note tap">(Tap an image to view details.)</h5>
      <h5 class="centered note click">(Click an image to view details.)</h5>
      <div class="grid-container">
        <section>
          <h2>Think and Grow Rich</h2>
          <h3>Napoleon Hill</h3>
          <div>
            <img src="assets/imgs/books/think-and-grow-rich.jpg" alt="Think and Grow Rich" class="book" (click)="openBookModal('ThinkAndGrowRich')"
            />
          </div>
        </section>
        <section>
          <h2>Go Pro</h2>
          <h3>Eric Worre</h3>
          <div>
            <img src="assets/imgs/books/go-pro.jpg" alt="Go Pro" class="book" (click)="openBookModal('GoPro')" />
          </div>
        </section>
        <section>
          <h2>Start with Why</h2>
          <h3>Simon Sinek</h3>
          <div>
            <img src="assets/imgs/books/start-with-why.jpg" alt="Go Pro" class="book" (click)="openBookModal('StartWithWhy')" />
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
