page-books {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  section {
    margin-bottom: 50px;
  }

  @media (min-width: 1000px) {
    .grid-container {
      grid-template-columns: auto auto;

      section {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
