page-cleanse-day-tracker {
  li {
    margin-bottom: 20px;
  }

  #cleanseImg {
    display: block;
    width: 100%;
    max-width: 639px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
