<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-leaf fixed-width space-right"></i>
      <span>Cleanse Day Tracker</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-started></nav-get-started>
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered">Cleanse Day Tracker</h1>
      <section>
        <p>
          If weight loss is your goal, we recommend you cleanse at least twice a month. You can cleanse a third week in a month for
          accelerated results, but you must take the fourth week off.
        </p>
        <p>
          You may choose your days according to the following guidelines:
        </p>
        <ol>
          <li>You will cleanse 2 days back to back. (Tues / Wed, Wed / Thurs, Sat / Sun – you get the idea). You will do the
            same two days the following week.</li>
          <li>You will choose either week 1 and week 2 OR week 2 and week 3.</li>
          <li>You will follow the cleanse schedule at
            <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/images%2Fcleanse-day.jpg?alt=media&token=e2ef5ac5-f80e-44b0-9dae-cdcf5328c46b">this link</a>. Don’t use the one in the guide that came in your box. This one is much friendlier and will give
            you better results.</li>
          <li>You may substitute 4 (yes, only FOUR!) Whey Thin crackers or 2 Isagenix Snacks wafers for an IsaDelight Chocolate
            square if you are opposed to eating chocolate or want something different.</li>
          <li>The snacks wafers are not replaceable. They are necessary to preserve muscle during cleansing. Do not eat whole
            food snacks such as eggs, nuts, or fruit on a cleanse day. "Snacks" refer to the wafers in the bottle only.</li>
          <li>
            <strong>VERY IMPORTANT!!!</strong> Your first meal after your cleanse days will always be an IsaLean Shake. This will
            replenish your body with the nutrition it needs immediately following a cleanse cycle.</li>
        </ol>
        <p>
          Once you have achieved your goal weight you can begin cleansing one day per week or even one day every two weeks. Cleansing
          is like cleaning your pool. It needs to be done regularly to combat the environment we live in. Wondering what
          cleanse schedule to follow? Just ask your enrolling sponsor. We are here to help!
        </p>
      </section>
      <section>
        <img id="cleanseImg" src="assets/imgs/misc/perfect-cleanse-day.jpg" alt="Perfect Cleanse Day">
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
