<nav id="mainNav">
  <div id="logoContainer">
    <img id="getLogoPageTitle" src="assets/imgs/misc/get-lg.png" alt="Global Exec Team" (click)="openPage('HomePage')" />
  </div>
  <div id="menuItems">
    <div (click)="openPage('Step_1Page')">GET Started</div>
    <div (click)="openPage('GetSuccessStep_1Page')">GET Success</div>
    <div (click)="openPage('DailyCallsPage')">GET Calls</div>
    <div (click)="openPage('BooksPage')">GET Elevated</div>
    <div (click)="openPage('AdminWeekdayCallsPage')">Admin</div>
  </div>
</nav>
