<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-comments fixed-width space-right"></i>
      <span>Text Your Few</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
      <img alt="" sizes="(max-width: 1400px) 100vw" src="assets/imgs/join/join-1400.jpg" srcset="
      assets/imgs/join/join-400.jpg 400w,
      assets/imgs/join/join-819.jpg 819w,
      assets/imgs/join/join-1125.jpg 1125w,
      assets/imgs/join/join-1400.jpg 1400w">
  </header>
  <main role="main">
    <article>
        <button id="backBtn" (click)="goBack()">
            <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="centered uppercase">Text Your Few</h1>
      <section>
        <p>* This is designed to help someone enroll their first few people. This does NOT replace the Facebook Post or the
          Top Down Invitation. This is to simply reach out to the “Two people who they know, that would for sure want to
          do this with them.”</p>
        <p>
          <strong>YOU:</strong> Hey _______ Girl/Bro/Name, etc! Any interest in doing a nutritional system with me? I’m ready to
          ______ (lose X pounds, get shredded, etc) and feel like myself again. I’ve seen so many before and afters & done
          all the research. It’s the real deal and I’m super excited about it.</p>
        <p>My friend is coaching me. She’s worked with loads of people and doesn’t charge anything. All we do is pay for the
          products. Wanna do it with me?</p>
        <p>
          <strong>OR - (IF ON DAY 5 OR AFTER)</strong>
        </p>
        <p>Hey _____ Girl/Bro/Name, etc! Any interest in doing a nutritional cleansing system with me? I’ve only been using
          the system _____ # of days and am already experiencing ______. I was tired of seeing everyone else’s before and
          afters and was ready for my own! It’s so easy to do and everything tastes amazing.</p>
        <p>My friend is coaching me. She’s worked with loads of people and doesn’t charge anything. All we do is pay for the
          products. Wanna do it with me?</p>
        <p>
          <strong>THEM: </strong>YESSSS!!!!</p>
        <p>
          <strong>YOU:</strong> Sweet! My box is already on it’s way, best thing to do is connect you with ______ (enter mentor/partner’s
          name). What’s your availability for a call over the next day or two?</p>
        <p>
          <strong>THEM:</strong> I can chat now or tomorrow morning.</p>
          <img id="sampleImg1" sizes="(max-width: 576px) 100vw, 576px" srcset="
          assets/imgs/sample/sample_200.png 200w,
          assets/imgs/sample/sample_352.png 352w,
          assets/imgs/sample/sample_464.png 464w,
          assets/imgs/sample/sample_576.png 576w" src="assets/imgs/sample/sample_576.png"
            alt="">
        <p>
          <strong>YOU:</strong> Ha! She can’t get on a call today, but can tomorrow morning at either 9:30am or 10:30am, which of
          those times works best for you?</p>
        <p>
          <strong>THEM:</strong> 9:30</p>
        <p>
          <strong>YOU:</strong> Ok, that’s perfect. I’ll call you with her on the line. She had me watch 2 short videos before our
          call and asked if you could watch them too. They’re 10 min total, I’ll send them tomorrow morning – can you watch
          them for sure?</p>
        <p>
          <strong>THEM:</strong> Yes</p>
        <p>
          <strong>YOU:</strong> Great. So excited to do this together! Wait til you see the results people are getting with is, you’ll
          flip! Talk to you at 9:30a tomorrow. If for some reason you need to cancel, please give me plenty of notice. I
          want to be mindful of her schedule.</p>
        <p>
          <strong>THEM:</strong> I’m excited! Thanks for thinking of me!</p>
        <p>
          <strong>YOU:</strong> SEARCH FOR A FUN GIF to send them (i.e. “bikini,” “fit girls” “shredded”)</p>
        <p>This will be us soon (enter finger pointing up emoji 👆)</p>
        <p>
          <strong>THEM:</strong> Woot Woot!</p>
          <img id="sampleImg2" sizes="(max-width: 576px) 100vw, 576px" srcset="
          assets/imgs/sample/sample_200.png 200w,
          assets/imgs/sample/sample_352.png 352w,
          assets/imgs/sample/sample_464.png 464w,
          assets/imgs/sample/sample_576.png 576w" src="assets/imgs/sample/sample_576.png"
            alt="">
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
