<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-user fixed-width space-right"></i>
      <span>Leadership Calls</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
    <login></login>
  </ion-content>
  <ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1600px) 100vw, 1600px" srcset="
      assets/imgs/main-background/main-background_400.jpg 400w,
      assets/imgs/main-background/main-background_916.jpg 916w,
      assets/imgs/main-background/main-background_1285.jpg 1285w,
      assets/imgs/main-background/main-background_1600.jpg 1600w"
      src="assets/imgs/main-background/main-background_1600.jpg" alt="Global Exec Team">
  </header>
  <main role="main">
    <article>
      <h1 class="centered uppercase">Leadership Calls</h1>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
