<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-list-ol fixed-width space-right"></i>
      <span>GET Free</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-get-started></nav-get-started>
    <article>
      <h1>GET Free</h1>
      <div id="container">
        <section id="linkSection">
          <h3>Join the IsaBody Challenge</h3>
          <ul>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />
              <a target="_blank" href="https://www.isagenix.com/isabody-challenge">$200 in Free Product</a>
            </li>
          </ul>
          <h3>Eat for Free</h3>
          <ul>
            <li><img class="diamond" src="assets/imgs/misc/gray-diamond.png" alt="" />
              <a target="_blank" href="//backoffice.isagenix.com/Authentication/Login">
                Become an Associate</a>
            </li>
            <li>
              <span class="pdf link-span" (click)="pdfProvider.openPdf('Enroll 5 People', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fdouble-pib.pdf?alt=media&token=dd09aed8-add1-47dd-93a3-ef36b44f80ea')">
                Enroll Two People a Week</span>
            </li>
          </ul>
          <h3>Earn Free Vitamins</h3>
          <ul>
            <li>
              <span class="pdf link-span" (click)="pdfProvider.openPdf('Enroll 5 People', 'https://firebasestorage.googleapis.com/v0/b/globalexecteam-17cfa.appspot.com/o/pdfs%2Fteam-builders-club.pdf?alt=media&token=ed27abc8-c0d4-482b-b31c-0f37ddacfa37')">Enroll
                5 People</span>
            </li>
          </ul>
        </section>
        <section id="divider"></section>
        <section id="videoSection">
          <img (click)="openVideoModal()" class="video-thumb" src="assets/imgs/misc/you-share-they-share-repeat.jpg"
            alt="You Share, They Share, Repeat Video">
          <h3>You Share, They Share, Repeat</h3>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
