<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-film-camera fixed-width space-right"></i>
      <span>Videos</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <nav-main selectedSection="GET Elevated" selectedMenuItem="Videos"></nav-main>
    <article>
      <h1 class="centered">Videos</h1>
      <h3>Network Marketing</h3>
      <div class="video-container" (click)="openVideoModal('network-marketing')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">NWM vs MLM</span>
          <span class="author">by Susan Miller</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('biz-future')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">The Business of the Future</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('erin-adrienne')">
          <span class="icon"><i class="fa fa-film"></i></span>
          <div>
            <span class="title">Basic Compensation Plan</span>
            <span class="author">by Erin Brauer and Adrienne Cross Donovan</span>
          </div>
        </div>
      <div class="video-container" (click)="openVideoModal('comp-plan')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">Master the Compensation Plan</span>
          <span class="author">by Jim Coover</span>
        </div>
      </div>
      <h3>Social Media</h3>
      <div class="video-container" (click)="openVideoModal('facebook')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">How to Build with Facebook</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('instagram')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">How to Build with Instagram</span>
        </div>
      </div>
      <h3>Entrepreneurship</h3>
      <div class="video-container" (click)="openVideoModal('golden-circle')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">The Golden Circle</span>
          <span class="author">by Simon Sinek</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('hungry')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">You've Gotta Be Hungry</span>
          <span class="author">by Les Brown</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('stanford')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">Stanford Commencement Speech</span>
          <span class="author">by Steve Jobs</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('eat-last')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">Why Leaders Eat Last</span>
          <span class="author">by Simon Sinek</span>
        </div>
      </div>
      <h3>The Food Economy</h3>
      <div class="video-container" (click)="openVideoModal('diets-failing')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">Why Diets are Failing Us</span>
          <span class="author">Peter Greenlaw</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('unhealthy-truth')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">The Unhealthy Truth</span>
          <span class="author">by Robyn O’Brien</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('food-matters')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">Food Matters</span>
        </div>
      </div>
      <div class="video-container" (click)="openVideoModal('fed-up')">
        <span class="icon"><i class="fa fa-film"></i></span>
        <div>
          <span class="title">Fed Up</span>
        </div>
      </div>
      <h3>Isagenix Solutions</h3>
      <div class="grid-container">
        <div class="video-container" (click)="openVideoModal('transform-life')">
          <span class="icon"><i class="fa fa-film"></i></span>
          <div>
            <span class="title">Transform Your Life</span>
          </div>
        </div>
        <div class="video-container" (click)="openVideoModal('isa-works')">
          <span class="icon"><i class="fa fa-film"></i></span>
          <div>
            <span class="title">Why Isagenix Works</span>
          </div>
        </div>
        <div class="video-container" (click)="openVideoModal('toxic')">
          <span class="icon"><i class="fa fa-film"></i></span>
          <div>
            <span class="title">Are You Toxic?</span>
          </div>
        </div>
        <div class="video-container" (click)="openVideoModal('why-cleanse')">
          <span class="icon"><i class="fa fa-film"></i></span>
          <div>
            <span class="title">Why Cleanse?</span>
            <span class="author">by Mary Evans</span>
          </div>
        </div>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
